<ng-container *ngIf="(activeTab$ | async) as activeTab">
    <nav
        class="group flex my-4 bg-gray-100 rounded p-1 hover:bg-gray-300 hover:bg-opacity-75"
    >
        <app-flexbox-sidebar-nav-tab
            class="flex flex-1"
            *ngFor="let tab of tabs"
            [name]="tab.name"
            [isActive]="activeTab == tab.key"
            (click)="setActiveTab(tab.key)"
        ></app-flexbox-sidebar-nav-tab>
    </nav>

    <div class="text-xs font-semibold px-2 py-4 rounded bg-indigo-100 border border-indigo-200 text-gray-600 my-2">
        <ng-container *ngIf="activeTab == 'container'">
            Edit parent container properties. Click an item to edit its individual properties.
        </ng-container>
        <ng-container  *ngIf="activeTab == 'items'">
            Click on individual item to edit it's properties.
        </ng-container >
    </div>

    <button
      (click)="addFlexItem()"
        class="rounded mb-6 p-2 font-semibold bg-indigo-600 hover:bg-indigo-700 text-white
        cursor-pointer w-full text-center focus:outline-none focus:ring-4 focus:ring-offset-2
        focus:ring-indigo-600 focus:ring-opacity-40"
    >
        Add Flex Item
    </button>

    <div class="flex gap-2 text-xs">
      <button
        (click)="resetDefaults()"
        class="rounded mb-6 p-2 font-semibold bg-indigo-600 hover:bg-indigo-700 text-white
        cursor-pointer w-full text-center focus:outline-none focus:ring-4 focus:ring-offset-2
        focus:ring-indigo-600 focus:ring-opacity-40"
      >
        Reset
      </button>

      <button
        (click)="toggleCodeContainer()"
        class="rounded mb-6 p-2 font-semibold bg-gray-600 hover:bg-gray-700 text-white
        cursor-pointer w-full text-center focus:outline-none focus:ring-4 focus:ring-offset-2
        focus:ring-gray-600 focus:ring-opacity-40"
      >
        {{ !(showCodeContainer$ | async)? 'View code' : 'View flex'}}
      </button>
    </div>
</ng-container>
