<ng-container *ngIf="filters$ | async as filters">
  <div>
    <img
      src="assets/hogwarts.png"
      alt="hogwarts-logo-image"
      [ngStyle]="{
        'filter':
         ((filters.blur) ? 'blur(' + (filters.blur| as:UnitPicker).value + (filters.blur| as:UnitPicker).unit + ')' : '') +
         ((filters.brightness) ? 'brightness(' + filters.brightness + ')' : '') +
         ((filters.contrast) ? 'contrast(' + filters.contrast + ')' : '') +
         ((filters.dropShadow) ? 'drop-shadow(' +
          ( (filters.dropShadow | as:DropShadow).length1.value && (filters.dropShadow | as:DropShadow).length1.unit ? ( (filters.dropShadow | as:DropShadow).length1.value + ((filters.dropShadow | as:DropShadow).length1.unit || '') + ' ' ) : '' ) +
          ( (filters.dropShadow | as:DropShadow).length2.value && (filters.dropShadow | as:DropShadow).length2.unit ? ( (filters.dropShadow | as:DropShadow).length2.value + ((filters.dropShadow | as:DropShadow).length2.unit || '') + ' ' ) : '' ) +
          ( (filters.dropShadow | as:DropShadow).length3.value && (filters.dropShadow | as:DropShadow).length3.unit ? ( (filters.dropShadow | as:DropShadow).length3.value + ((filters.dropShadow | as:DropShadow).length3.unit || '') + ' ' ) : '' ) +
          (  (filters.dropShadow | as:DropShadow).color ?  (filters.dropShadow | as:DropShadow).color : '' ) +
          ')' : '') +
         ((filters.grayscale) ? 'grayscale(' + filters.grayscale + ')' : '') +
         ((filters.hueRotate) ? 'hue-rotate(' + (filters.hueRotate| as:UnitPicker).value + (filters.hueRotate| as:UnitPicker).unit + ')' : '') +
         ((filters.invert) ? 'invert(' + filters.invert + ')' : '') +
         ((filters.opacity) ? 'opacity(' + filters.opacity + ')' : '') +
         ((filters.saturate) ? 'saturate(' + filters.saturate + ')' : '') +
         ((filters.sepia) ? 'sepia(' + filters.sepia + ')' : '')
      }"
    >
  </div>
</ng-container>
