<div
  class="flex flex-row font-sans text-gray-900 h-screen"
>
  <app-animations-sidebar
    class="flex-shrink-0 min-w-[300px] w-3/12 flex flex-col bg-gray-200 border-r border-gray-300
      m-4 rounded-xl border-2 px-3 sticky top-0 overflow-auto"
  >
  </app-animations-sidebar>
  <app-animations-container
    class="rounded-xl m-4 border-2 border-dashed border-gray-300 flex flex-grow bg-gray-200 p-4 gap-4 overflow-auto"
    *ngIf="!(showCodeContainer$ | async); else codeContainer"
  ></app-animations-container>

  <ng-template #codeContainer>
    <ng-container *ngIf="{html: animationsHtml$ | async, css: animationsCss$ | async} as animationsCode">
      <ng-container *ngIf="animationsCode.html && animationsCode.css">
        <app-code-container
          [codeHtml]="animationsCode.html"
          [codeCss]="animationsCode.css"
          class="rounded-xl m-4 border-2 border-dashed border-gray-300 flex flex-grow bg-gray-200 p-4 gap-4 overflow-auto"
        ></app-code-container>
      </ng-container>
    </ng-container>
  </ng-template>
</div>
