<ng-container *ngIf="{
  'container': gridContainer$ | async,
  'items': gridItems$ | async,
} as state">
  <div class="relative h-full w-full">
    <div
      [ngStyle]="{
      'display': gridContainer.display,
      'grid-template-columns': gridTemplateColumns + ' ' + extraColumns,
      'grid-template-rows': gridTemplateRows + ' ' + extraRows,
      'column-gap': gridContainer.columnGap.value + gridContainer.columnGap.unit,
      'row-gap': gridContainer.rowGap.value + gridContainer.rowGap.unit,
      'justify-content': gridContainer.justifyContent,
      'align-content': gridContainer.alignContent,
      'grid-auto-columns': gridAutoColumns,
      'grid-auto-rows': gridAutoRows,
      'grid-auto-flow': gridContainer.gridAutoFlow,
    }"
      class="h-full w-full absolute z-20 bg-transparent"
    >
      <div
        *ngFor="let i of totalContainers;"
        class="border-[2px] border-dashed border-gray-500"
      ></div>
    </div>

    <div
      [ngStyle]="{
        'display': gridContainer.display,
        'grid-template-columns': gridTemplateColumns,
        'grid-template-rows': gridTemplateRows,
        'column-gap': gridContainer.columnGap.value + gridContainer.columnGap.unit,
        'row-gap': gridContainer.rowGap.value + gridContainer.rowGap.unit,
        'justify-items': gridContainer.justifyItems,
        'align-items': gridContainer.alignItems,
        'justify-content': gridContainer.justifyContent,
        'align-content': gridContainer.alignContent,
        'grid-auto-columns': gridAutoColumns,
        'grid-auto-rows': gridAutoRows,
        'grid-auto-flow': gridContainer.gridAutoFlow,
      }"
      class="absolute bg-white h-full w-full text-center"
    >
      <div
        *ngFor="let item of state.items"
        (click)="setSelectedItem(item.id)"
        class="bg-orange-400 hover:bg-orange-700 text-xl text-gray-300 text-center rounded-xl cursor-pointer min-w-[25%]
          drop-shadow-[0_4px_6px_rgba(255,164,92,0.1)] box-border m-[1px] z-30 flex items-center justify-center"
        [ngClass]="{
          'bg-orange-600': (selectedItem$ | async)?.id == item.id,
          'bg-orange-400': (selectedItem$ | async)?.id != item.id,
          'z-50': (selectedItem$ | async)?.id == item.id,
        }"
        [ngStyle]="{
            'grid-column-start': item.properties.gridColumnStart,
            'grid-row-start': item.properties.gridRowStart,
            'grid-column-end': item.properties.gridColumnEnd,
            'grid-row-end': item.properties.gridRowEnd,
            'justify-self': item.properties.justifySelf??'',
            'align-self': item.properties.alignSelf??'',
        }"
      >
        <fa-icon
                class="text-gray-300 hover:text-gray-500 absolute top-1 right-1 text-base"
                [icon]="faDelete"
                (click)="removeGridItem(item.id)"
        ></fa-icon>
        {{ item.properties.gridArea }}
      </div>
    </div>
  </div>
</ng-container>
