<ng-container *ngIf="{animations: animation$ | async, keyframes: keyframes$ | async } as animationItems">
  <ng-container *ngIf="animationItems.animations && animationItems.keyframes">
    <app-animations-container-element
      class="flex items-center justify-center w-full"
      [animations]="animationItems.animations"
      [keyframes]="animationItems.keyframes"
    ></app-animations-container-element>
  </ng-container>
</ng-container>
