<ng-container *ngIf="pseudoClassTypeState">
  <div class="mb-4">
    <label [for]="'pseudo-class-type'" class="mb-2 lowercase text-base font-semibold block">
      pseudo class type
    </label>
    <div class="select relative inline-block text-gray-700 w-full">
      <select [formControl]="typeFormControl"
              [id]="'pseudo-class-type'"
              class="inline-block text-base w-full m-0 py-2 pl-4 pr-8 leading-normal text-gray-700 bg-white border
          border-gray-500 rounded cursor-pointer focus:outline-none focus:border-transparent focus:ring-4
          focus:ring-offset-2 focus:border-blue-600 focus:ring-blue-600 focus:ring-opacity-40"
      >
        <option
          class="bg-white text-gray-700"
          *ngFor="let option of pseudoClassTypes"
          [ngValue]="option"
        >
          {{ kebabize(option) }}
        </option>
      </select>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="pseudoClassState">
  <div class="mb-4">
    <label [for]="'pseudo-class'" class="mb-2 lowercase text-base font-semibold block">
      pseudo class
    </label>
    <div class="select relative inline-block text-gray-700 w-full">
      <select [formControl]="classFormControl"
              [id]="'pseudo-class'"
              class="inline-block text-base w-full m-0 py-2 pl-4 pr-8 leading-normal text-gray-700 bg-white border
          border-gray-500 rounded cursor-pointer focus:outline-none focus:border-transparent focus:ring-4
          focus:ring-offset-2 focus:border-blue-600 focus:ring-blue-600 focus:ring-opacity-40"
      >
        <option
          class="bg-white text-gray-700"
          *ngFor="let option of pseudoClassOptionsState"
          [ngValue]="option"
        >
          {{ kebabize(option) }}
        </option>
      </select>
    </div>
    <div
      class="text-sm text-gray-500 mt-2"
    >
      <ng-container *ngIf="pseudoClassState == 'autofill'">
        Applies to all inputs that will be autocompleted by the user.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'enabled'">
        Applies to all inputs except those with disabled attribute set (e.g. 'State / Province').
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'disabled'">
        Applies to inputs with disabled attribute set (e.g. 'State / Province').
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'read-only'">
        Applies to all labels, checkboxes, radio buttons and disabled inputs.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'read-write'">
        Applies to inputs and textareas that are editable by the user (e.g. all except 'State / Province').
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'placeholder-shown'">
        Applies to inputs and textareas that have a placeholder (e.g. First Name, Last Name).
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'default'">
        Applies to default checked checkboxes or radio buttons, default selected option or default submit button.
        (e.g. First 'Elective Class' and 'Pet' options, 'United Kingdom' in 'Country' select).
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'checked'">
        Applies to currently checked checkboxes, radio buttons or selected options.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'indeterminate'">
        Applies to checkboxes (e.g. last 3 options of 'Elective Classes') or radio inputs (e.g. 'Pet') whose form is set to indeterminate.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'valid'">
        Applies to inputs that satisfy all rules. (e.g. 'First Name' and 'Last Name' are required, 'Email' should be a valid email address).
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'invalid'">
        Applies to inputs that do not satisfy at least one rule. (e.g. 'First Name' and 'Last Name' are required, 'Email' should be a valid email address).
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'in-range'">
        Applies to inputs that can and have range rules applied (e.g. 'Date of birth' has the range '2000-01-01' - '2023-12-31' and a default value out of that range).
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'out-of-range'">
        Applies to inputs that can and have range rules applied (e.g. 'Date of birth' has the range '2000-01-01' - '2023-12-31' and a default value out of that range).
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'required'">
        Applies to required inputs (e.g. 'First Name', 'Last Name').
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'optional'">
        Applies to optional inputs (e.g. all except 'First Name', 'Last Name').
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'any-link'">
        Applies to any input that has a href.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'link'">
        Applies to any non-visited link.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'visited'">
        Applies to any visited link.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'scope'">
        Applies to the specific scope (e.g. container of links)
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'empty'">
        Represents an element with no children other than white-space characters.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'nth-child'">
        Uses An+B notation to select elements from a list of sibling elements. As an example, odd numbers are selected.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'nth-last-child'">
        Uses An+B notation to select elements from a list of sibling elements, counting backwards from the end of the list.
        As an example, odd numbers are selected.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'first-child'">
        Matches an element that is the first of its siblings.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'last-child'">
        Matches an element that is the last of its siblings.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'only-child'">
        Matches an element that has no siblings. For example, a list item with no other list items in that list.
        Check the difference between first and second list.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'nth-of-type'">
        Uses An+B notation to select elements from a list of sibling elements that match a certain type from a list of sibling elements.
        As an example, odd numbers are selected.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'nth-last-of-type'">
        Uses An+B notation to select elements from a list of sibling elements that match a certain type from a list of sibling elements counting backwards from the end of the list.
        As an example, odd numbers are selected.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'first-of-type'">
        Matches an element that is the first of its siblings, and also matches a certain type selector.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'last-of-type'">
        Matches an element that is the last of its siblings, and also matches a certain type selector.
      </ng-container>
      <ng-container *ngIf="pseudoClassState == 'only-of-type'">
        Matches an element that has no siblings of the chosen type selector.
      </ng-container>
    </div>
  </div>
</ng-container>

<div class="mt-12">
  <form [formGroup]="cssOptionsFormGroup">
    <div class="mb-4">
      <label for="backgroundColor" class="mb-2 lowercase text-base font-semibold block">
        background-color
      </label>
      <input
        formControlName="backgroundColor"
        class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
        type="text"
        id="backgroundColor"
      />
      <div
        class="text-sm text-gray-500"
        *ngIf="pseudoClassState == 'autofill'"
      >
        *Has no effect on autofill
      </div>
    </div>

    <div class="mb-4">
      <label for="color" class="mb-2 lowercase text-base font-semibold block">
        color
      </label>
      <input
        formControlName="color"
        class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
        type="text"
        id="color"
      />
      <div
        class="text-sm text-gray-500"
        *ngIf="pseudoClassState == 'autofill'"
      >
        *Has no effect on autofill
      </div>
    </div>

    <div formGroupName="border">
      <div class="font-semibold mb-2">border-size</div>
      <div class="mb-2">
        <app-unit-picker
          [unitFormGroup]="getFormGroup('border.size')"
        ></app-unit-picker>
      </div>

      <app-flexbox-sidebar-container-select
        [selectFormControl]="getFormControl('border.style')"
        [label]="kebabize('borderStyle')"
        [options]="borderStyles"
      ></app-flexbox-sidebar-container-select>

      <div class="mb-2">
        <div class="mb-2 lowercase text-base font-semibold block">
          {{ kebabize('borderColor') }}
        </div>
        <input
          formControlName="color"
          class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
          type="text"
          name="borderColor"
        />
      </div>
    </div>

  </form>
</div>
