<ng-container *ngIf="flexContainer">
  <form [formGroup]="flexPropertiesForm">
    <app-flexbox-sidebar-container-select
      *ngFor="let item of flexContainerSelects | keyvalue: originalOrder"
      [selectFormControl]="flexPropertiesForm.controls[item.key] | formControl"
      [label]="kebabize(item.key)"
      [value]="item.value"
      [options]="flexProperties[item.key]"
    ></app-flexbox-sidebar-container-select>

    <div class="mb-4">
      <div class="mb-2 lowercase text-base font-semibold block">
        flex-flow
      </div>
      <input
        class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
        type="string"
        disabled
        [value]="flexFlow"
        name="flexFlow"
      />
      <div
        class="text-xs text-gray-500"
      >
        *<strong>flex-direction</strong> and <strong>flex-wrap</strong> can be combined into <strong>flex-flow</strong>
      </div>
    </div>

    <div class="mb-4">
      <app-unit-picker
        [label]="'row-gap'"
        [unitFormGroup]="rowGap"
      ></app-unit-picker>
    </div>

    <div class="mb-4">
      <app-unit-picker
        [label]="'column-gap'"
        [unitFormGroup]="columnGap"
      ></app-unit-picker>
    </div>

    <div class="mb-4">
      <div class="mb-2 lowercase text-base font-semibold block">
        gap
      </div>
      <input
        class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
        type="string"
        disabled
        [value]="gap"
        name="gap"
      />
      <div
        class="text-xs text-gray-500"
      >
        *<strong>row-gap</strong> and <strong>column-gap</strong> can be combined into <strong>gap</strong>
      </div>
    </div>

  </form>
</ng-container>
