<div class="divide-y-2 divide-gray-300 divide-">
  <ng-container *ngIf="transformedItemState">
    <div class="mb-4">
      <label [for]="'transformed-item'" class="mb-2 lowercase text-base font-semibold block">
        transformed item
      </label>
      <div class="select relative inline-block text-gray-700 w-full">
        <select [formControl]="selectedItemFormControl"
                [id]="'transformed-item'"
                class="inline-block text-base w-full m-0 py-2 pl-4 pr-8 leading-normal text-gray-700 bg-white border
          border-gray-500 rounded cursor-pointer focus:outline-none focus:border-transparent focus:ring-4
          focus:ring-offset-2 focus:border-blue-600 focus:ring-blue-600 focus:ring-opacity-40"
        >
          <option
            class="bg-white text-gray-700"
            *ngFor="let option of transformedItems"
            [ngValue]="option.name"
          >
            {{ option.name }}
          </option>
        </select>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transformOptionsState">
    <form [formGroup]="transformOptionsForm">
      <app-flexbox-sidebar-container-select
        [selectFormControl]="transformOptionsForm.controls['box'] | formControl"
        [label]="'box'"
        [value]="transformOptionsState.box"
        [options]="transformBoxes"
      ></app-flexbox-sidebar-container-select>

      <div formGroupName="origin">
        <div class="mb-4">
          <app-unit-picker
            [label]="'origin-x'"
            [unitFormGroup]="originX"
          ></app-unit-picker>
        </div>
        <div class="mb-4">
          <app-unit-picker
            [label]="'origin-y'"
            [unitFormGroup]="originY"
          ></app-unit-picker>
        </div>
      </div>

      <app-flexbox-sidebar-container-select
        [selectFormControl]="transformOptionsForm.controls['style'] | formControl"
        [label]="'style'"
        [value]="transformOptionsState.style"
        [options]="transformStyles"
      ></app-flexbox-sidebar-container-select>

    </form>
  </ng-container>

</div>
