<ng-container *ngIf="selectedItem">
    <form [formGroup]="selectedItemForm">
        <div class="mb-4">
            <label for="gridArea" class="mb-2 lowercase text-base font-semibold block">
                content
            </label>
            <input
                formControlName="gridArea"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="text"
                id="gridArea"
            />
        </div>

        <div class="mb-4">
            <label for="gridColumnStart" class="mb-2 lowercase text-base font-semibold block">
                grid-column-start
            </label>
            <input
                formControlName="gridColumnStart"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                min="0"
                id="gridColumnStart"
            />
        </div>

        <div class="mb-4">
            <label for="gridRowStart" class="mb-2 lowercase text-base font-semibold block">
                grid-row-start
            </label>
            <input
                formControlName="gridRowStart"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                id="gridRowStart"
            />
        </div>

        <div class="mb-4">
            <label for="gridColumnEnd" class="mb-2 lowercase text-base font-semibold block">
                grid-column-end
            </label>
            <input
                formControlName="gridColumnEnd"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                id="gridColumnEnd"
            />
        </div>

        <div class="mb-4">
            <label for="gridRowEnd" class="mb-2 lowercase text-base font-semibold block">
                grid-row-end
            </label>
            <input
                formControlName="gridRowEnd"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                id="gridRowEnd"
            />
        </div>

        <div class="select relative inline-block w-full">
            <div class="mb-4">
                <label for="justifySelf" class="mb-2 lowercase text-base font-semibold block">
                    justify-self
                </label>
                <select
                    formControlName="justifySelf"
                    id="justifySelf"
                    class="inline-block text-base w-full m-0 py-2 pl-4 pr-8 leading-normal text-gray-700 bg-white border
                        border-gray-500 rounded cursor-pointer focus:outline-none focus:border-transparent focus:ring-4
                        focus:ring-offset-2 focus:border-blue-600 focus:ring-blue-600 focus:ring-opacity-40"
                >
                    <option
                        class="bg-white text-gray-700"
                        *ngFor="let option of justifySelfOptions"
                        [ngValue]="option"
                    >
                        {{ option }}
                    </option>
                </select>
            </div>
        </div>

        <div class="select relative inline-block w-full">
            <div class="mb-4">
                <label for="alignSelf" class="mb-2 lowercase text-base font-semibold block">
                    align-self
                </label>
                <select
                    formControlName="alignSelf"
                    id="alignSelf"
                    class="inline-block text-base w-full m-0 py-2 pl-4 pr-8 leading-normal text-gray-700 bg-white border
                        border-gray-500 rounded cursor-pointer focus:outline-none focus:border-transparent focus:ring-4
                        focus:ring-offset-2 focus:border-blue-600 focus:ring-blue-600 focus:ring-opacity-40"
                >
                    <option
                        class="bg-white text-gray-700"
                        *ngFor="let option of alignSelfOptions"
                        [ngValue]="option"
                    >
                        {{ option }}
                    </option>
                </select>
            </div>
        </div>
    </form>
</ng-container>
