<ng-container
  *ngIf="{
    type: pseudoClassTypeState$ | async,
    class: pseudoClassState$ | async,
    cssOptions: pseudoCssOptionsState$ | async
  } as pseudo">
  <ng-container *ngIf="pseudo.type && pseudo.class && pseudo.cssOptions">
    <ng-container *ngIf="pseudo.class == 'fullscreen'">
      <app-fullscreen
        class="w-full p-4 bg-white rounded-2xl"
        [cssOptions]="pseudo.cssOptions"
      ></app-fullscreen>
    </ng-container>
    <ng-container *ngIf="pseudo.class == 'modal'">
      <app-modal
        class="w-full p-4 rounded-2xl"
        [cssOptions]="pseudo.cssOptions"
      ></app-modal>
    </ng-container>
    <ng-container *ngIf="pseudo.class == 'picture-in-picture'">
      <app-picture-in-picture
        class="w-full p-4 rounded-2xl"
        [cssOptions]="pseudo.cssOptions"
      ></app-picture-in-picture>
    </ng-container>
    <ng-container *ngIf="pseudo.type == 'input'">
      <app-input
        class="w-full p-4 rounded-2xl"
        [cssOptions]="pseudo.cssOptions"
        [pseudoClass]="pseudo.class"
      ></app-input>
    </ng-container>
    <ng-container *ngIf="pseudo.type == 'location'">
      <app-location
        class="w-full p-4 rounded-2xl"
        [cssOptions]="pseudo.cssOptions"
        [pseudoClass]="pseudo.class"
      ></app-location>
    </ng-container>
    <ng-container *ngIf="pseudo.type == 'treeStructural'">
      <app-tree-structural
              class="w-full p-4 rounded-2xl"
              [cssOptions]="pseudo.cssOptions"
              [pseudoClass]="pseudo.class"
      ></app-tree-structural>
    </ng-container>
    <ng-container *ngIf="pseudo.type == 'userAction'">
      <app-user-action
        class="w-full p-4 rounded-2xl"
        [cssOptions]="pseudo.cssOptions"
        [pseudoClass]="pseudo.class"
      ></app-user-action>
    </ng-container>
  </ng-container>
</ng-container>
