<form [formGroup]="transformFunctions3DForm">
  <div  *ngFor="let func of this.transforms3D">
    <div class="flex items-start">
      <div class="flex h-6 items-center">
        <input
          [formControlName]="func + 'Checkbox'"
          [name]="func + 'Checkbox'"
          type="checkbox"
          value="1"
          class="w-4 h-4 text-indigo-600 bg-gray-100 border-gray-300 rounded focus:ring-indigo-500 dark:focus:ring-indigo-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        >
      </div>
      <div class="ml-3 text-sm leading-6">
        <div class="font-semibold">
          {{ func }}
        </div>
      </div>
    </div>

    <div [ngSwitch]="func">
      <ng-container *ngSwitchCase="'matrix3d'">
        <div [formGroupName]="func" *ngIf="getForm3dControl(func+'Checkbox').value">
          <div class="grid grid-cols-4 gap-2 mb-2">
            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                a1
              </div>
              <input
                formControlName="a1"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixA1"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                b1
              </div>
              <input
                formControlName="b1"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixB1"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                c1
              </div>
              <input
                formControlName="c1"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixC1"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                d1
              </div>
              <input
                formControlName="d1"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixD1"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                a2
              </div>
              <input
                formControlName="a2"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixA2"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                b2
              </div>
              <input
                formControlName="b2"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixB2"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                c2
              </div>
              <input
                formControlName="c2"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixC2"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                d2
              </div>
              <input
                formControlName="d2"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixD2"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                a3
              </div>
              <input
                formControlName="a3"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixA3"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                b3
              </div>
              <input
                formControlName="b3"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixB3"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                c3
              </div>
              <input
                formControlName="c3"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixC3"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                d3
              </div>
              <input
                formControlName="d3"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixD3"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                a4
              </div>
              <input
                formControlName="a4"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixA4"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                b4
              </div>
              <input
                formControlName="b4"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixB4"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                c4
              </div>
              <input
                formControlName="c4"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixC4"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                d4
              </div>
              <input
                formControlName="d4"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixD4"
              />
            </div>

          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'perspective'">
        <ng-container *ngTemplateOutlet="valueUnitPicker; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'rotate3d'">
        <div class="mb-2" *ngIf="getForm3dControl(func+'Checkbox').value">
          <div class="mb-2 lowercase text-base font-semibold block">
            x
          </div>
          <input
            [formControl]="getForm3dControl('rotate3d.x')"
            class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
            type="number"
            name="rotate3dX"
          />
          <div class="mb-2 lowercase text-base font-semibold block">
            y
          </div>
          <input
            [formControl]="getForm3dControl('rotate3d.y')"
            class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
            type="number"
            name="rotate3dY"
          />
          <div class="mb-2 lowercase text-base font-semibold block">
            z
          </div>
          <input
            [formControl]="getForm3dControl('rotate3d.z')"
            class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
            type="number"
            name="rotate3dZ"
          />
<!--          <app-degree-unit-picker-->
<!--            [label]="'x'"-->
<!--            [unitFormGroup]="getForm3dGroup('rotate3d.x')"-->
<!--          ></app-degree-unit-picker>-->
<!--          <app-degree-unit-picker-->
<!--            [label]="'y'"-->
<!--            [unitFormGroup]="getForm3dGroup('rotate3d.y')"-->
<!--          ></app-degree-unit-picker>-->
<!--          <app-degree-unit-picker-->
<!--            [label]="'z'"-->
<!--            [unitFormGroup]="getForm3dGroup('rotate3d.z')"-->
<!--          ></app-degree-unit-picker>-->
          <app-degree-unit-picker
            [label]="'a'"
            [unitFormGroup]="getForm3dGroup('rotate3d.a')"
          ></app-degree-unit-picker>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'rotateX'">
        <ng-container *ngTemplateOutlet="valueUnitDegreePicker; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'rotateY'">
        <ng-container *ngTemplateOutlet="valueUnitDegreePicker; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'rotateZ'">
        <ng-container *ngTemplateOutlet="valueUnitDegreePicker; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'translate3d'">
        <div
          class="mb-2"
          [formGroup]="getForm3dGroup(func)"
          *ngIf="getForm3dControl(func+'Checkbox').value"
        >
          <div>
            <app-unit-picker
              [label]="'tx'"
              [unitFormGroup]="getForm3dGroup('translate3d.x')"
            ></app-unit-picker>
          </div>

          <div>
            <app-unit-picker
              [label]="'ty'"
              [unitFormGroup]="getForm3dGroup('translate3d.y')"
            ></app-unit-picker>
          </div>

          <div>
            <app-unit-picker
              [label]="'tz'"
              [unitFormGroup]="getForm3dGroup('translate3d.z')"
            ></app-unit-picker>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'translateX'">
        <ng-container *ngTemplateOutlet="valueUnitPicker; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'translateY'">
        <ng-container *ngTemplateOutlet="valueUnitPicker; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'translateZ'">
        <ng-container *ngTemplateOutlet="valueUnitPicker; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'scale3d'">
        <div class="mb-2" *ngIf="getForm3dControl(func+'Checkbox').value">
          <div class="mb-2 lowercase text-base font-semibold block">
            sx
          </div>
          <input
            [formControl]="getForm3dControl('scale3d.x')"
            class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
            type="number"
            name="scale3dSx"
          />
          <div class="mb-2 lowercase text-base font-semibold block">
            sy
          </div>
          <input
            [formControl]="getForm3dControl('scale3d.y')"
            class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
            type="number"
            name="scale3dSy"
          />
          <div class="mb-2 lowercase text-base font-semibold block">
            sz
          </div>
          <input
            [formControl]="getForm3dControl('scale3d.z')"
            class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
            type="number"
            name="scale3dSz"
          />
        </div>

      </ng-container>

      <ng-container *ngSwitchCase="'scaleX'">
        <ng-container *ngTemplateOutlet="numberValue; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'scaleY'">
        <ng-container *ngTemplateOutlet="numberValue; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'scaleZ'">
        <ng-container *ngTemplateOutlet="numberValue; context:{'func': func}"></ng-container>
      </ng-container>

    </div>

  </div>
</form>

<ng-template #numberValue let-func="func">
  <div class="mb-2" *ngIf="getForm3dControl(func+'Checkbox').value">
    <input
      [formControl]="getForm3dControl(func)"
      class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2 mt-2"
      type="number"
      [name]="func"
    />
  </div>
</ng-template>

<ng-template #valueUnitPicker let-func="func">
  <div class="mb-2" *ngIf="getForm3dControl(func+'Checkbox').value">
    <app-unit-picker
      [unitFormGroup]="getForm3dGroup(func)"
    ></app-unit-picker>
  </div>
</ng-template>

<ng-template #valueUnitDegreePicker let-func="func">
  <div class="mb-2" *ngIf="getForm3dControl(func+'Checkbox').value">
    <app-degree-unit-picker
      [unitFormGroup]="getForm3dGroup(func)"
    ></app-degree-unit-picker>
  </div>
</ng-template>
