<div class="flex bg-gray-100 min-h-screen">
  <app-menu-sidebar class="flex flex-col w-1/6 min-w-[200px]"></app-menu-sidebar>

  <div class="w-full overflow-hidden sticky top-0 h-screen">
    <router-outlet></router-outlet>
  </div>
</div>
