<div
    class="flex flex-row font-sans text-gray-900 h-screen"
>
    <app-grid-sidebar
        class="flex-shrink-0 min-w-[300px] w-3/12 flex flex-col bg-gray-200 border-r border-gray-300
        m-4 rounded-xl border-2 px-3 sticky top-0 overflow-auto"
    >
    </app-grid-sidebar>
    <app-grid-container
            class="rounded-xl m-4 border-2 border-dashed border-gray-300 flex flex-grow bg-gray-200 p-4 gap-4 overflow-auto"
            *ngIf="!(showCodeContainer$ | async); else codeContainer"
    ></app-grid-container>

    <ng-template #codeContainer>
        <ng-container *ngIf="{html: gridHtml$ | async, css: gridCss$ | async} as gridCode">
            <ng-container *ngIf="gridCode.html && gridCode.css">
                <app-code-container
                        [codeHtml]="gridCode.html"
                        [codeCss]="gridCode.css"
                        class="w-full rounded-xl m-4 border-2 border-dashed border-gray-300 bg-gray-200 p-4 gap-4 overflow-auto"
                ></app-code-container>
            </ng-container>
        </ng-container>
    </ng-template>
</div>
