<app-flexbox-sidebar-nav></app-flexbox-sidebar-nav>

<div class="flex-1">
  <ng-container *ngIf="activeTab$ | async as activeTab">
    <app-flexbox-sidebar-container *ngIf="activeTab == 'container'"></app-flexbox-sidebar-container>
    <app-flexbox-sidebar-items *ngIf="activeTab== 'items'"></app-flexbox-sidebar-items>
  </ng-container>
</div>

<div
  class="text-sm my-2"
>
  Comprehensive guide to flexbox
  <a
    class="text-indigo-900"
    href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
    target="_blank"
  >here.</a>
</div>
