<ng-container *ngIf="selectedItem">
  <form [formGroup]="selectedItemForm">
    <div class="mb-4">
      <label for="order" class="mb-2 lowercase text-base font-semibold block">
        order
      </label>
        <input
          formControlName="order"
          class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
          type="number"
          id="order"
        />
    </div>

    <div class="mb-4">
      <label for="flexGrow" class="mb-2 lowercase text-base font-semibold block">
        flex-grow
      </label>
      <input
        formControlName="flexGrow"
        class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
        type="number"
        id="flexGrow"
      />
    </div>

    <div class="mb-4">
      <label for="flexShrink" class="mb-2 lowercase text-base font-semibold block">
        flex-shrink
      </label>
      <input
        formControlName="flexShrink"
        class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
        type="number"
        min="0"
        id="flexShrink"
      />
    </div>

    <div class="mb-4">
      <label for="flexBasis" class="mb-2 lowercase text-base font-semibold block">
        flex-basis
      </label>
      <input
        formControlName="flexBasis"
        class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
        type="text"
        id="flexBasis"
      />
    </div>

    <div class="mb-4">
      <div class="mb-2 lowercase text-base font-semibold block">
        flex
      </div>
      <input
        class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
        type="string"
        disabled
        [value]="flex"
        name="flex"
      />
      <div
        class="text-xs text-gray-500"
      >
        *<strong>flex-grow</strong>, <strong>flex-shrink</strong> and <strong>flex-basis</strong>
        can be combined into <strong>flex</strong>
      </div>
    </div>

    <div class="select relative inline-block w-full">
      <div class="mb-4">
        <label for="alignSelf" class="mb-2 lowercase text-base font-semibold block">
          align-self
        </label>
        <select
          formControlName="alignSelf"
          id="alignSelf"
          class="inline-block text-base w-full m-0 py-2 pl-4 pr-8 leading-normal text-gray-700 bg-white border
            border-gray-500 rounded cursor-pointer focus:outline-none focus:border-transparent focus:ring-4
            focus:ring-offset-2 focus:border-blue-600 focus:ring-blue-600 focus:ring-opacity-40"
        >
          <option
            class="bg-white text-gray-700"
            *ngFor="let option of alignOptions"
            [ngValue]="option"
          >
            {{ option }}
          </option>
        </select>
      </div>
    </div>
  </form>
</ng-container>
