<ng-container *ngIf="(boxModelState$ | async) as boxModelState">
  <ng-container *ngIf="boxModelState">
    <app-box-model-sidebar-props-form [boxModelState]="boxModelState"></app-box-model-sidebar-props-form>
  </ng-container>
</ng-container>
