@mixin customize {
    background-color: var(--background-color);
    border: var(--border);
    color: var(--color);
}

.empty:empty {
    @include customize;
}

.nth-child:nth-child(odd) {
  @include customize;
}

.nth-last-child:nth-last-child(odd) {
  @include customize;
}

.first-child:first-child {
  @include customize;
}

.last-child:last-child {
  @include customize;
}

.only-child:only-child {
  @include customize;
}

.nth-of-type:nth-of-type(odd) {
  @include customize;
}

.nth-last-of-type:nth-last-of-type(odd) {
  @include customize;
}

.first-of-type:first-of-type {
  @include customize;
}

.last-of-type:last-of-type {
  @include customize;
}

.only-of-type:only-of-type {
  @include customize;
}
