<div
    class="flex content-start flex-wrap flex-grow text-center p-4 gap-2"
>
    <div
        *ngFor="let i of numbers"
        class="flex items-center justify-center w-48 h-48 bg-amber-400 text-gray-500 cursor-pointer rounded-xl hover:bg-amber-700
            drop-shadow-[0_4px_6px_rgba(255,164,92,0.1)]"
        [ngClass]="{
            'empty': pseudoClass == 'empty',
            'nth-child': pseudoClass == 'nth-child',
            'nth-last-child': pseudoClass == 'nth-last-child',
            'first-child': pseudoClass == 'first-child',
            'last-child': pseudoClass == 'last-child',
            'only-child': pseudoClass == 'only-child',
            'nth-of-type': pseudoClass == 'nth-of-type',
            'nth-last-of-type': pseudoClass == 'nth-last-of-type',
            'first-of-type': pseudoClass == 'first-of-type',
            'last-of-type': pseudoClass == 'last-of-type',
            'only-of-type': pseudoClass == 'only-of-type',
        }"
    >{{ (i != 4 && i != 6) ? i : ''}}</div>
</div>

<div
  class="flex content-start flex-wrap flex-grow text-center p-4 gap-2"
>
  <div
    class="flex items-center justify-center w-48 h-48 bg-amber-400 text-gray-500 cursor-pointer rounded-xl hover:bg-orange-700
            drop-shadow-[0_4px_6px_rgba(255,164,92,0.1)]"
    [ngClass]="{
            'empty': pseudoClass == 'empty',
            'nth-child': pseudoClass == 'nth-child',
            'nth-last-child': pseudoClass == 'nth-last-child',
            'first-child': pseudoClass == 'first-child',
            'last-child': pseudoClass == 'last-child',
            'only-child': pseudoClass == 'only-child',
            'nth-of-type': pseudoClass == 'nth-of-type',
            'nth-last-of-type': pseudoClass == 'nth-last-of-type',
            'first-of-type': pseudoClass == 'first-of-type',
            'last-of-type': pseudoClass == 'last-of-type',
            'only-of-type': pseudoClass == 'only-of-type',
        }"
  >1</div>
</div>
