<app-box-model-sidebar-nav></app-box-model-sidebar-nav>

<div class="flex-1">
  <app-box-model-sidebar-props></app-box-model-sidebar-props>
</div>

<div
  class="text-sm my-2"
>
  Comprehensive guide to box model
  <a
    class="text-indigo-900"
    href="https://css-tricks.com/the-css-box-model/"
    target="_blank"
  >here</a>
  and
  <a
    class="text-indigo-900"
    href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/The_box_model"
    target="_blank"
  >here</a>
</div>
