.figure {
  transition: transform 1s;
}

label { margin-right: 10px; }

.scene {
  width: 200px;
  height: 200px;
  margin: 80px;
  perspective: 400px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face--front {
  background: hsla(25, 95%, 53%, 0.7);
  transform: rotateY(  0deg) translateZ(100px);
}
.cube__face--right {
  background: hsla(45, 93%, 47%, 0.7);
  transform: rotateY( 90deg) translateZ(100px);
}
.cube__face--back {
  background: hsla(84, 81%, 44%, 0.7);
  transform: rotateY(180deg) translateZ(100px);
}
.cube__face--left {
  background: hsla(189, 94%, 43%, 0.7);
  transform: rotateY(-90deg) translateZ(100px)
}
.cube__face--top {
  background: hsla(271, 91%, 65%, 0.7);
  transform: rotateX( 90deg) translateZ(100px);
}
.cube__face--bottom {
  background: hsla(350, 89%, 60%, 0.7);
  transform: rotateX(-90deg) translateZ(100px);
}

.cube__face--front-original  { background: hsla(25, 95%, 53%, 0.2); }
.cube__face--right-original  { background: hsla(45, 93%, 47%, 0.2); }
.cube__face--back-original   { background: hsla(84, 81%, 44%, 0.2); }
.cube__face--left-original   { background: hsla(189, 94%, 43%, 0.2); }
.cube__face--top-original    { background: hsla(271, 91%, 65%, 0.2); }
.cube__face--bottom-original { background: hsla(350, 89%, 60%, 0.2); }

