<ng-container *ngIf="{
  item: transformedItem$ | async,
  animations2D: animations2D$ | async,
  animations3D: animations3D$ | async,
  transformOptions: transformOptions$ | async,
  } as transformState"
>
  <ng-container *ngIf="transformState.item && transformState.animations2D && transformState.animations3D && transformState.transformOptions">
    <ng-container *ngIf="transformState.item.name == 'rectangle'">
      <div class="relative">
        <div *ngIf="(viewOriginal$ | async)" class="w-48 h-48 bg-orange-400 rounded-md opacity-30"></div>
        <div
          *ngIf="!(viewOriginal$ | async)"
          class="w-48 h-48 bg-orange-400 rounded-md figure"
          [ngStyle]="{
            'transform-box': transformState.transformOptions.box,
            'transform-origin': transformState.transformOptions.origin.x.value + transformState.transformOptions.origin.x.unit +  ' ' +
              transformState.transformOptions.origin.y.value + transformState.transformOptions.origin.y.unit,
            'transform-style': transformState.transformOptions.style,
            'transform':
              ((transformState.animations2D.rotate) ? 'rotate(' + (transformState.animations2D.rotate | as:UnitPicker).value + (transformState.animations2D.rotate | as:UnitPicker).unit + ')' : '') +
              ((transformState.animations2D.rotateX) ? 'rotateX(' + (transformState.animations2D.rotateX | as:UnitPicker).value + (transformState.animations2D.rotateX | as:UnitPicker).unit + ')' : '') +
              ((transformState.animations2D.rotateY) ? 'rotateY(' + (transformState.animations2D.rotateY | as:UnitPicker).value + (transformState.animations2D.rotateY | as:UnitPicker).unit + ')' : '') +
              ((transformState.animations2D.matrix) ? 'matrix(' + (transformState.animations2D.matrix | as:Matrix).a + ',' +
                                                                  (transformState.animations2D.matrix | as:Matrix).b + ',' +
                                                                  (transformState.animations2D.matrix | as:Matrix).c + ',' +
                                                                  (transformState.animations2D.matrix | as:Matrix).d + ',' +
                                                                  (transformState.animations2D.matrix | as:Matrix).tx + ',' +
                                                                  (transformState.animations2D.matrix | as:Matrix).ty +
              ')' : '') +
              ((transformState.animations2D.translate) ? 'translate('
                + ((transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).x ?
                ((transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).x.value  + (transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).x.unit) : 0) + ', '
                + ((transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).y ?
                ((transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).y.value  + (transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).y.unit) : 0) +
              ')' : '') +
              ((transformState.animations2D.translateX) ? 'translateX(' + (transformState.animations2D.translateX | as:UnitPicker).value + (transformState.animations2D.translateX | as:UnitPicker).unit + ')' : '') +
              ((transformState.animations2D.translateY) ? 'translateY(' + (transformState.animations2D.translateY | as:UnitPicker).value + (transformState.animations2D.translateY | as:UnitPicker).unit + ')' : '') +
              ((transformState.animations2D.skewX) ? 'skewX(' + (transformState.animations2D.skewX | as:UnitPicker).value + (transformState.animations2D.skewX | as:UnitPicker).unit + ')' : '') +
              ((transformState.animations2D.skewY) ? 'skewY(' + (transformState.animations2D.skewY | as:UnitPicker).value + (transformState.animations2D.skewY | as:UnitPicker).unit + ')' : '') +
              ((transformState.animations2D.scale) ? 'scale(' + transformState.animations2D.scale + ')' : '') +
              ((transformState.animations2D.scaleX) ? 'scaleX(' + transformState.animations2D.scaleX + ')' : '') +
              ((transformState.animations2D.scaleY) ? 'scaleY(' + transformState.animations2D.scaleY + ')' : '')
          }"
        ></div>
      </div>
    </ng-container>
    <ng-container *ngIf="transformState.item.name == 'circle'">
      <div
        *ngIf="(viewOriginal$ | async)"
        class="w-48 h-48 bg-orange-400 rounded-full opacity-30"
      ></div>
      <div
        *ngIf="!(viewOriginal$ | async)"
        class="w-48 h-48 bg-orange-400 rounded-full figure"
        [ngStyle]="{
            'transform-box': transformState.transformOptions.box,
            'transform-origin': transformState.transformOptions.origin.x.value + transformState.transformOptions.origin.x.unit +  ' ' +
              transformState.transformOptions.origin.y.value + transformState.transformOptions.origin.y.unit,
            'transform-style': transformState.transformOptions.style,
            'transform':
              ((transformState.animations2D.rotate) ? 'rotate(' + (transformState.animations2D.rotate | as:UnitPicker).value + (transformState.animations2D.rotate | as:UnitPicker).unit + ')' : '') +
              ((transformState.animations2D.rotateX) ? 'rotateX(' + (transformState.animations2D.rotateX | as:UnitPicker).value + (transformState.animations2D.rotateX | as:UnitPicker).unit + ')' : '') +
              ((transformState.animations2D.rotateY) ? 'rotateY(' + (transformState.animations2D.rotateY | as:UnitPicker).value + (transformState.animations2D.rotateY | as:UnitPicker).unit + ')' : '') +
              ((transformState.animations2D.matrix) ? 'matrix(' + (transformState.animations2D.matrix | as:Matrix).a + ',' +
                                                                  (transformState.animations2D.matrix | as:Matrix).b + ',' +
                                                                  (transformState.animations2D.matrix | as:Matrix).c + ',' +
                                                                  (transformState.animations2D.matrix | as:Matrix).d + ',' +
                                                                  (transformState.animations2D.matrix | as:Matrix).tx + ',' +
                                                                  (transformState.animations2D.matrix | as:Matrix).ty +
              ')' : '') +
              ((transformState.animations2D.translate) ? 'translate('
                + ((transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).x ?
                ((transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).x.value  + (transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).x.unit) : 0) + ', '
                + ((transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).y ?
                ((transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).y.value  + (transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).y.unit) : 0) +
              ')' : '') +
              ((transformState.animations2D.translateX) ? 'translateX(' + (transformState.animations2D.translateX | as:UnitPicker).value + (transformState.animations2D.translateX | as:UnitPicker).unit + ')' : '') +
              ((transformState.animations2D.translateY) ? 'translateY(' + (transformState.animations2D.translateY | as:UnitPicker).value + (transformState.animations2D.translateY | as:UnitPicker).unit + ')' : '') +
              ((transformState.animations2D.skewX) ? 'skewX(' + (transformState.animations2D.skewX | as:UnitPicker).value + (transformState.animations2D.skewX | as:UnitPicker).unit + ')' : '') +
              ((transformState.animations2D.skewY) ? 'skewY(' + (transformState.animations2D.skewY | as:UnitPicker).value + (transformState.animations2D.skewY | as:UnitPicker).unit + ')' : '') +
              ((transformState.animations2D.scale) ? 'scale(' + transformState.animations2D.scale + ')' : '') +
              ((transformState.animations2D.scaleX) ? 'scaleX(' + transformState.animations2D.scaleX + ')' : '') +
              ((transformState.animations2D.scaleY) ? 'scaleY(' + transformState.animations2D.scaleY + ')' : '')
          }"
      ></div>
    </ng-container>
    <ng-container *ngIf="transformState.item.name == 'image'">
        <svg
          *ngIf="(viewOriginal$ | async)"
          class="w-48 h-48 fill-orange-400 opacity-30"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352.4 270.22"><defs><style></style></defs><g id="Layer_2" data-name="Layer 2"><g id="Icon"><circle class="cls-1" cx="103.97" cy="136.59" r="22"/><circle class="cls-1" cx="248.48" cy="136.59" r="22"/><path class="cls-1" d="M104,86.81a49.78,49.78,0,1,0,49.78,49.78A49.78,49.78,0,0,0,104,86.81Zm0,82.94a33.16,33.16,0,1,1,33.16-33.16A33.15,33.15,0,0,1,104,169.75Z"/><path class="cls-1" d="M198.7,136.59a49.78,49.78,0,1,0,49.78-49.78A49.78,49.78,0,0,0,198.7,136.59Zm16.62,0a33.16,33.16,0,1,1,33.16,33.16A33.16,33.16,0,0,1,215.32,136.59Z"/><path class="cls-1" d="M176.22,106.66h0c.06-.19,13.12-46.27,51.56-72.88L176.22,28h0l-51.55,5.74C163.11,60.39,176.17,106.47,176.22,106.66Z"/><path class="cls-1" d="M347.07,105.14a82.85,82.85,0,0,0-5.87-13.43c-5-9-20-26.59-22.93-32.29C305.15,34.31,304.82,0,304.82,0c-42.64,11.33-69.54,55.6-74,63.41a73.85,73.85,0,1,1-55.09,84.26,73.82,73.82,0,1,1-53.92-84c-3.92-6.94-31-52.22-74.17-63.7,0,0-.34,34.31-13.45,59.42-3,5.7-17.9,23.31-22.93,32.29A83.42,83.42,0,0,0,5.37,105.1c-15.9,46.08,4.58,96.58,47.17,120.31,22.3,12.42,53.8,21,90.23,5.24l33.45,39.57h0l33.44-39.55c35.18,15.28,65.75,7.88,87.88-3.74C341.61,203.76,363.2,152.24,347.07,105.14Z"/></g></g>
        </svg>
        <svg
          *ngIf="!(viewOriginal$ | async)"
          class="w-48 h-48 fill-orange-400 figure"
          [ngStyle]="{
              'transform-box': transformState.transformOptions.box,
              'transform-origin': transformState.transformOptions.origin.x.value + transformState.transformOptions.origin.x.unit +  ' ' +
                transformState.transformOptions.origin.y.value + transformState.transformOptions.origin.y.unit,
              'transform-style': transformState.transformOptions.style,
              'transform':
                ((transformState.animations2D.rotate) ? 'rotate(' + (transformState.animations2D.rotate | as:UnitPicker).value + (transformState.animations2D.rotate | as:UnitPicker).unit + ')' : '') +
                ((transformState.animations2D.rotateX) ? 'rotateX(' + (transformState.animations2D.rotateX | as:UnitPicker).value + (transformState.animations2D.rotateX | as:UnitPicker).unit + ')' : '') +
                ((transformState.animations2D.rotateY) ? 'rotateY(' + (transformState.animations2D.rotateY | as:UnitPicker).value + (transformState.animations2D.rotateY | as:UnitPicker).unit + ')' : '') +
                ((transformState.animations2D.matrix) ? 'matrix(' + (transformState.animations2D.matrix | as:Matrix).a + ',' +
                                                                    (transformState.animations2D.matrix | as:Matrix).b + ',' +
                                                                    (transformState.animations2D.matrix | as:Matrix).c + ',' +
                                                                    (transformState.animations2D.matrix | as:Matrix).d + ',' +
                                                                    (transformState.animations2D.matrix | as:Matrix).tx + ',' +
                                                                    (transformState.animations2D.matrix | as:Matrix).ty +
                ')' : '') +
                ((transformState.animations2D.translate) ? 'translate('
                  + ((transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).x ?
                  ((transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).x.value  + (transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).x.unit) : 0) + ', '
                  + ((transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).y ?
                  ((transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).y.value  + (transformState.animations2D.translate | as:{x: UnitPicker, y: UnitPicker}).y.unit) : 0) +
                ')' : '') +
                ((transformState.animations2D.translateX) ? 'translateX(' + (transformState.animations2D.translateX | as:UnitPicker).value + (transformState.animations2D.translateX | as:UnitPicker).unit + ')' : '') +
                ((transformState.animations2D.translateY) ? 'translateY(' + (transformState.animations2D.translateY | as:UnitPicker).value + (transformState.animations2D.translateY | as:UnitPicker).unit + ')' : '') +
                ((transformState.animations2D.skewX) ? 'skewX(' + (transformState.animations2D.skewX | as:UnitPicker).value + (transformState.animations2D.skewX | as:UnitPicker).unit + ')' : '') +
                ((transformState.animations2D.skewY) ? 'skewY(' + (transformState.animations2D.skewY | as:UnitPicker).value + (transformState.animations2D.skewY | as:UnitPicker).unit + ')' : '') +
                ((transformState.animations2D.scale) ? 'scale(' + transformState.animations2D.scale + ')' : '') +
                ((transformState.animations2D.scaleX) ? 'scaleX(' + transformState.animations2D.scaleX + ')' : '') +
                ((transformState.animations2D.scaleY) ? 'scaleY(' + transformState.animations2D.scaleY + ')' : '')
            }"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352.4 270.22"><defs><style></style></defs><g id="Layer_2" data-name="Layer 2"><g id="Icon"><circle class="cls-1" cx="103.97" cy="136.59" r="22"/><circle class="cls-1" cx="248.48" cy="136.59" r="22"/><path class="cls-1" d="M104,86.81a49.78,49.78,0,1,0,49.78,49.78A49.78,49.78,0,0,0,104,86.81Zm0,82.94a33.16,33.16,0,1,1,33.16-33.16A33.15,33.15,0,0,1,104,169.75Z"/><path class="cls-1" d="M198.7,136.59a49.78,49.78,0,1,0,49.78-49.78A49.78,49.78,0,0,0,198.7,136.59Zm16.62,0a33.16,33.16,0,1,1,33.16,33.16A33.16,33.16,0,0,1,215.32,136.59Z"/><path class="cls-1" d="M176.22,106.66h0c.06-.19,13.12-46.27,51.56-72.88L176.22,28h0l-51.55,5.74C163.11,60.39,176.17,106.47,176.22,106.66Z"/><path class="cls-1" d="M347.07,105.14a82.85,82.85,0,0,0-5.87-13.43c-5-9-20-26.59-22.93-32.29C305.15,34.31,304.82,0,304.82,0c-42.64,11.33-69.54,55.6-74,63.41a73.85,73.85,0,1,1-55.09,84.26,73.82,73.82,0,1,1-53.92-84c-3.92-6.94-31-52.22-74.17-63.7,0,0-.34,34.31-13.45,59.42-3,5.7-17.9,23.31-22.93,32.29A83.42,83.42,0,0,0,5.37,105.1c-15.9,46.08,4.58,96.58,47.17,120.31,22.3,12.42,53.8,21,90.23,5.24l33.45,39.57h0l33.44-39.55c35.18,15.28,65.75,7.88,87.88-3.74C341.61,203.76,363.2,152.24,347.07,105.14Z"/></g></g>
        </svg>
      </ng-container>

    <ng-container *ngIf="transformState.item.name == 'cube'">
      <div class="scene">
        <div
          *ngIf="(viewOriginal$ | async)"
          class="cube"
        >
          <div class="cube__face cube__face--front cube__face--front-original">front</div>
          <div class="cube__face cube__face--back cube__face--back-original">back</div>
          <div class="cube__face cube__face--right cube__face--right-original">right</div>
          <div class="cube__face cube__face--left cube__face--left-original">left</div>
          <div class="cube__face cube__face--top cube__face--top-original">top</div>
          <div class="cube__face cube__face--bottom cube__face--bottom-original">bottom</div>
        </div>
        <div
          *ngIf="!(viewOriginal$ | async)"
          class="cube"
          [ngStyle]="{
              'transform-box': transformState.transformOptions.box,
              'transform-origin': transformState.transformOptions.origin.x.value + transformState.transformOptions.origin.x.unit +  ' ' +
                transformState.transformOptions.origin.y.value + transformState.transformOptions.origin.y.unit,
              'transform-style': transformState.transformOptions.style,
              'transform':
                ((transformState.animations3D.rotate3d) ? 'rotate3d(' +
                  (transformState.animations3D.rotate3d | as:Rotate3d).x + ',' +
                  (transformState.animations3D.rotate3d | as:Rotate3d).y + ',' +
                  (transformState.animations3D.rotate3d | as:Rotate3d).z + ',' +
                  (transformState.animations3D.rotate3d | as:Rotate3d).a.value + (transformState.animations3D.rotate3d | as:Rotate3d).a.unit + ')' : '') +
                ((transformState.animations3D.rotateX) ? 'rotateX(' + (transformState.animations3D.rotateX | as:UnitPicker).value + (transformState.animations3D.rotateX | as:UnitPicker).unit + ')' : '') +
                ((transformState.animations3D.rotateY) ? 'rotateY(' + (transformState.animations3D.rotateY | as:UnitPicker).value + (transformState.animations3D.rotateY | as:UnitPicker).unit + ')' : '') +
                ((transformState.animations3D.rotateZ) ? 'rotateZ(' + (transformState.animations3D.rotateZ | as:UnitPicker).value + (transformState.animations3D.rotateZ | as:UnitPicker).unit + ')' : '') +
                ((transformState.animations3D.matrix3d) ? 'matrix3d(' +
                    (transformState.animations3D.matrix3d | as:Matrix3d).a1 + ',' +
                    (transformState.animations3D.matrix3d | as:Matrix3d).b1 + ',' +
                    (transformState.animations3D.matrix3d | as:Matrix3d).c1 + ',' +
                    (transformState.animations3D.matrix3d | as:Matrix3d).d1 + ',' +
                    (transformState.animations3D.matrix3d | as:Matrix3d).a2 + ',' +
                    (transformState.animations3D.matrix3d | as:Matrix3d).b2 + ',' +
                    (transformState.animations3D.matrix3d | as:Matrix3d).c2 + ',' +
                    (transformState.animations3D.matrix3d | as:Matrix3d).d2 + ',' +
                    (transformState.animations3D.matrix3d | as:Matrix3d).a3 + ',' +
                    (transformState.animations3D.matrix3d | as:Matrix3d).b3 + ',' +
                    (transformState.animations3D.matrix3d | as:Matrix3d).c3 + ',' +
                    (transformState.animations3D.matrix3d | as:Matrix3d).d3 + ',' +
                    (transformState.animations3D.matrix3d | as:Matrix3d).a4 + ',' +
                    (transformState.animations3D.matrix3d | as:Matrix3d).b4 + ',' +
                    (transformState.animations3D.matrix3d | as:Matrix3d).c4 + ',' +
                    (transformState.animations3D.matrix3d | as:Matrix3d).d4 +
                ')' : '') +
                ((transformState.animations3D.perspective) ? 'translateX(' + (transformState.animations3D.perspective | as:UnitPicker).value + (transformState.animations3D.perspective | as:UnitPicker).unit + ')' : '') +
                ((transformState.animations3D.translate3d) ? 'translate3d('
                  + (transformState.animations3D.translate3d | as:Translate3d).x.value + (transformState.animations3D.translate3d | as:Translate3d).x.unit + ',' +
                  + (transformState.animations3D.translate3d | as:Translate3d).y.value + (transformState.animations3D.translate3d | as:Translate3d).y.unit + ',' +
                  + (transformState.animations3D.translate3d | as:Translate3d).z.value + (transformState.animations3D.translate3d | as:Translate3d).y.unit +
                 ')' : '') +
                ((transformState.animations3D.translateX) ? 'translateX(' + (transformState.animations3D.translateX | as:UnitPicker).value + (transformState.animations3D.translateX | as:UnitPicker).unit + ')' : '') +
                ((transformState.animations3D.translateY) ? 'translateY(' + (transformState.animations3D.translateY | as:UnitPicker).value + (transformState.animations3D.translateY | as:UnitPicker).unit + ')' : '') +
                ((transformState.animations3D.translateZ) ? 'translateZ(' + (transformState.animations3D.translateZ | as:UnitPicker).value + (transformState.animations3D.translateZ | as:UnitPicker).unit + ')' : '') +
                ((transformState.animations3D.scale3d) ?
                  'scale3d(' +
                    (transformState.animations3D.scale3d | as: Scale3d).x + ', ' +
                    (transformState.animations3D.scale3d | as: Scale3d).y + ', ' +
                    (transformState.animations3D.scale3d | as: Scale3d).z + ')'
                  : '') +
                ((transformState.animations3D.scaleX) ? 'scaleX(' + transformState.animations3D.scaleX + ')' : '') +
                ((transformState.animations3D.scaleY) ? 'scaleY(' + transformState.animations3D.scaleY + ')' : '') +
                ((transformState.animations3D.scaleZ) ? 'scaleZ(' + transformState.animations3D.scaleZ + ')' : '')
            }"
        >
          <div class="cube__face cube__face--front">front</div>
          <div class="cube__face cube__face--back">back</div>
          <div class="cube__face cube__face--right">right</div>
          <div class="cube__face cube__face--left">left</div>
          <div class="cube__face cube__face--top">top</div>
          <div class="cube__face cube__face--bottom">bottom</div>
        </div>
      </div>
    </ng-container>

  </ng-container>
</ng-container>
