<ng-container *ngIf="(selectedItem$ | async) as selectedItem; else noSelectedItem">
    <ng-container *ngIf="selectedItem">
        <app-grid-sidebar-items-form
            [selectedItem]="selectedItem"
        ></app-grid-sidebar-items-form>
    </ng-container>
</ng-container>

<ng-template #noSelectedItem>
    <div class="text-xs text-gray-500">Add and/or select an item to edit.</div>
</ng-template>
