@mixin customize {
  background-color: var(--background-color);
  border: var(--border);
  color: var(--color);
}

.hover:hover {
  @include customize;
}

.active:active {
  @include customize;
}

.focus:focus {
  @include customize;
}

.focus-visible:focus-visible {
  @include customize;
}

.focus-within:focus-within {
  @include customize;
}
