<div class="border-b border-gray-900/10 pb-12">
  <div class="mt-4 mx-auto max-w-sm grid grid-cols-1 gap-x-6 gap-y-2">
    <div
      class="sm:col-span-3"
      [ngClass]="{
        'focus-within': pseudoClass == 'focus-within',
      }"
    >
      <label
        for="magical-name"
        class="block text-sm font-medium leading-6 text-gray-900"
      >
        Magical Name
      </label>
      <div class="mt-2">
        <input
          [ngClass]="{
            'hover': pseudoClass == 'hover',
            'active': pseudoClass == 'active',
            'focus': pseudoClass == 'focus',
            'focus-visible': pseudoClass == 'focus-visible',
          }"
          type="text"
          id="magical-name"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        >
      </div>
    </div>

    <div class="sm:col-span-3"
      [ngClass]="{
        'focus-within': pseudoClass == 'focus-within',
      }"
    >
      <label
        for="super-power"
        class="block text-sm font-medium leading-6 text-gray-900"
      >
        Super power
      </label>
      <div class="mt-2">
        <input
          [ngClass]="{
            'hover': pseudoClass == 'hover',
            'active': pseudoClass == 'active',
            'focus': pseudoClass == 'focus',
            'focus-visible': pseudoClass == 'focus-visible',
          }"
          id="super-power"
          type="text"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        >
      </div>
    </div>

    <div
      class="sm:col-span-3"
      [ngClass]="{
        'focus-within': pseudoClass == 'focus-within',
      }"
    >
      <label
        for="spirit-animal"
        class="block text-sm font-medium leading-6 text-gray-900"
      >
        Your spirit animal
      </label>
      <div class="mt-2">
        <select
          [ngClass]="{
            'hover': pseudoClass == 'hover',
            'active': pseudoClass == 'active',
            'focus': pseudoClass == 'focus',
            'focus-visible': pseudoClass == 'focus-visible',
          }"
          id="spirit-animal"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        >
          <option value="unicorn">Unicorn</option>
          <option value="dragon">Dragon</option>
          <option value="sloth">Sloth</option>
        </select>
      </div>
    </div>
    <div
      class="sm:col-span-3"
      [ngClass]="{
        'focus-within': pseudoClass == 'focus-within',
      }"
    >
      <button
        [ngClass]="{
          'hover': pseudoClass == 'hover',
          'active': pseudoClass == 'active',
          'focus': pseudoClass == 'focus',
          'focus-visible': pseudoClass == 'focus-visible',
        }"
        class="block mx-auto bg-indigo-600 text-white rounded-md px-4 py-2 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50"
      >
        Confirm
      </button>
    </div>
  </div>
</div>
