<ng-container *ngIf="boxModelState">
  <form [formGroup]="boxModelForm">
    <app-flexbox-sidebar-container-select
      [selectFormControl]="boxModelForm.controls['boxSizing'] | formControl"
      [label]="kebabize('boxSizing')"
      [options]="boxSizing"
    ></app-flexbox-sidebar-container-select>

    <div formGroupName="content" class="px-1 py-2 mb-4 rounded border border-gray-300 bg-gray-100">
      <div class="font-semibold mb-2">content</div>
      <div class="grid grid-cols-2 gap-4">
        <div *ngIf="getFormGroup('content.width')" class="mb-2">
          <app-unit-picker
            [label]="'width'"
            [unitFormGroup]="getFormGroup('content.width')"
          ></app-unit-picker>
        </div>

        <div *ngIf="getFormGroup('content.height')" class="mb-2">
          <app-unit-picker
            [label]="'height'"
            [unitFormGroup]="getFormGroup('content.height')"
          ></app-unit-picker>
        </div>
      </div>
    </div>

    <div formGroupName="padding" class="px-1 py-2 mb-4 rounded border border-gray-300 bg-gray-100">
      <div class="font-semibold mb-2">padding</div>
      <div class="grid grid-cols-2 gap-4">
        <div *ngIf="getFormGroup('padding.top')" class="mb-2">
          <app-unit-picker
            [label]="'top'"
            [unitFormGroup]="getFormGroup('padding.top')"
          ></app-unit-picker>
        </div>

        <div *ngIf="getFormGroup('padding.right')" class="mb-2">
          <app-unit-picker
            [label]="'right'"
            [unitFormGroup]="getFormGroup('padding.right')"
          ></app-unit-picker>
        </div>

        <div *ngIf="getFormGroup('padding.bottom')" class="mb-2">
          <app-unit-picker
            [label]="'bottom'"
            [unitFormGroup]="getFormGroup('padding.bottom')"
          ></app-unit-picker>
        </div>

        <div *ngIf="getFormGroup('padding.left')" class="mb-2">
          <app-unit-picker
            [label]="'left'"
            [unitFormGroup]="getFormGroup('padding.left')"
          ></app-unit-picker>
        </div>
      </div>
    </div>

    <div formGroupName="border" class="px-1 py-2 mb-4 rounded border border-gray-300 bg-gray-100
      divide-y-4 divide-gray-300"
    >
      <div formGroupName="top">
        <div class="font-semibold mb-2">border-top</div>
        <div *ngIf="getFormGroup('border.top.size')" class="mb-2">
          <app-unit-picker
            [unitFormGroup]="getFormGroup('border.top.size')"
          ></app-unit-picker>
        </div>

        <app-flexbox-sidebar-container-select
          [selectFormControl]="getFormControl('border.top.style')"
          [label]="kebabize('borderTopStyle')"
          [options]="borderStyles"
        ></app-flexbox-sidebar-container-select>

        <div class="mb-2">
          <div class="mb-2 lowercase text-base font-semibold block">
            {{ kebabize('borderTopColor') }}
          </div>
          <input
            formControlName="color"
            class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
            type="text"
            name="borderTopColor"
          />
        </div>
      </div>

      <div formGroupName="right">
        <div class="font-semibold mb-2">border-right</div>
        <div *ngIf="getFormGroup('border.right.size')" class="mb-2">
          <app-unit-picker
            [unitFormGroup]="getFormGroup('border.right.size')"
          ></app-unit-picker>
        </div>

        <app-flexbox-sidebar-container-select
          [selectFormControl]="getFormControl('border.right.style')"
          [label]="kebabize('borderRightStyle')"
          [options]="borderStyles"
        ></app-flexbox-sidebar-container-select>

        <div class="mb-2">
          <div class="mb-2 lowercase text-base font-semibold block">
            {{ kebabize('borderRightColor') }}
          </div>
          <input
            formControlName="color"
            class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
            type="text"
            name="borderRightColor"
          />
        </div>
      </div>

      <div formGroupName="bottom">
        <div class="font-semibold mb-2">border-bottom</div>
        <div *ngIf="getFormGroup('border.bottom.size')" class="mb-2">
          <app-unit-picker
            [unitFormGroup]="getFormGroup('border.bottom.size')"
          ></app-unit-picker>
        </div>

        <app-flexbox-sidebar-container-select
          [selectFormControl]="getFormControl('border.bottom.style')"
          [label]="kebabize('borderBottomStyle')"
          [options]="borderStyles"
        ></app-flexbox-sidebar-container-select>

        <div class="mb-2">
          <div class="mb-2 lowercase text-base font-semibold block">
            {{ kebabize('borderBottomColor') }}
          </div>
          <input
            formControlName="color"
            class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
            type="text"
            name="borderBottomColor"
          />
        </div>
      </div>

      <div formGroupName="left">
        <div class="font-semibold mb-2">border-left</div>
        <div *ngIf="getFormGroup('border.left.size')" class="mb-2">
          <app-unit-picker
            [unitFormGroup]="getFormGroup('border.left.size')"
          ></app-unit-picker>
        </div>

        <app-flexbox-sidebar-container-select
          [selectFormControl]="getFormControl('border.left.style')"
          [label]="kebabize('borderLeftStyle')"
          [options]="borderStyles"
        ></app-flexbox-sidebar-container-select>

        <div class="mb-2">
          <div class="mb-2 lowercase text-base font-semibold block">
            {{ kebabize('borderLeftColor') }}
          </div>
          <input
            formControlName="color"
            class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
            type="text"
            name="borderLeftColor"
          />
        </div>
      </div>

    </div>

    <div formGroupName="margin" class="px-1 py-2 mb-4 rounded border border-gray-300 bg-gray-100">
      <div class="font-semibold mb-2">margin</div>
      <div class="grid grid-cols-2 gap-4">
        <div *ngIf="getFormGroup('margin.top')" class="mb-2">
          <app-unit-picker
            [label]="'top'"
            [unitFormGroup]="getFormGroup('margin.top')"
          ></app-unit-picker>
        </div>

        <div *ngIf="getFormGroup('margin.right')" class="mb-2">
          <app-unit-picker
            [label]="'right'"
            [unitFormGroup]="getFormGroup('margin.right')"
          ></app-unit-picker>
        </div>

        <div *ngIf="getFormGroup('margin.bottom')" class="mb-2">
          <app-unit-picker
            [label]="'bottom'"
            [unitFormGroup]="getFormGroup('margin.bottom')"
          ></app-unit-picker>
        </div>

        <div *ngIf="getFormGroup('margin.left')" class="mb-2">
          <app-unit-picker
            [label]="'left'"
            [unitFormGroup]="getFormGroup('margin.left')"
          ></app-unit-picker>
        </div>
      </div>
    </div>

  </form>
</ng-container>
