<app-pseudo-classes-sidebar-nav></app-pseudo-classes-sidebar-nav>

<div class="flex-1">
  <app-pseudo-classes-item></app-pseudo-classes-item>
</div>

<div
  class="text-sm my-2"
>
  Comprehensive guide to pseudo classes
  <a
    class="text-indigo-900"
    href="https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes"
    target="_blank"
  >here</a>.
</div>
