<ng-container *ngIf="(animationState$ | async) as animationState">
  <ng-container *ngIf="animationState">
    <app-animations-sidebar-animation-form [animationState]="animationState"></app-animations-sidebar-animation-form>
  </ng-container>
</ng-container>
