<div
  class="fullscreen-container flex flex-col h-full text-gray-600"
  #fullscreenContainer
>
  <div class="flex items-center justify-center">
    <button
      (click)="toggleFullScreen()"
      class="rounded my-6 p-2 font-semibold bg-orange-600 hover:bg-orange-700 text-white
            cursor-pointer text-center focus:outline-none focus:ring-4 focus:ring-offset-2
            focus:ring-orange-600 focus:ring-opacity-40"
    >
      Toggle Fullscreen
    </button>
  </div>

  <div class="text-xs text-center">Click the button to make the whole container fullscreen.</div>

  <div class="flex flex-1 items-center justify-center">
    <div class="h-64 w-64 bg-orange-400 rounded-md"></div>
  </div>
</div>
