<app-grid-sidebar-nav></app-grid-sidebar-nav>

<div class="flex-1">
    <ng-container *ngIf="activeTab$ | async as activeTab">
        <app-grid-sidebar-container *ngIf="activeTab == 'container'"></app-grid-sidebar-container>
        <app-grid-sidebar-items *ngIf="activeTab== 'items'"></app-grid-sidebar-items>
    </ng-container>
</div>

<div
        class="text-sm my-2"
>
    Comprehensive guide to grid
    <a
            class="text-indigo-900"
            href="https://css-tricks.com/snippets/css/complete-guide-grid/"
            target="_blank"
    >here.</a>
</div>
