<ng-container *ngIf="{animationTypes: animationTypes$ | async, keyframes: keyframes$ | async} as formElements">
  <ng-container *ngIf="formElements.animationTypes && formElements.keyframes">
    <app-animations-sidebar-keyframes-form
      [animationTypes]="formElements.animationTypes"
      [allAnimationTypes]="allAnimationTypes"
      [keyframes]="formElements.keyframes"
    >
    </app-animations-sidebar-keyframes-form>
  </ng-container>
</ng-container>
