<ng-container *ngIf="(flexboxContainer$ | async) as flexContainer">
  <ng-container *ngIf="flexContainer">
    <app-flexbox-sidebar-container-form [flexContainer]="flexContainer"></app-flexbox-sidebar-container-form>
  </ng-container>
</ng-container>
