<ng-container>
  <ng-container *ngIf="transformedItem$ | async as transformedItem">
    <ng-container *ngIf="transformedItem && transformedItem.type == '2d'">
      <app-transforms-sidebar-functions-form-twod
        [transformFunctions2D]="transformFunctions2D$ | async"
        [transformedItem]="transformedItem$ | async"
      ></app-transforms-sidebar-functions-form-twod>
    </ng-container>
    <ng-container *ngIf="transformedItem && transformedItem.type == '3d'">
      <app-transforms-sidebar-functions-form-threed
        [transformFunctions3D]="transformFunctions3D$ | async"
        [transformedItem]="transformedItem$ | async"
      ></app-transforms-sidebar-functions-form-threed>
    </ng-container>
<!--    <app-transforms-sidebar-functions-form-->
<!--      [transformFunctions]="transformFunctions$ | async"-->
<!--      [transformedItem]="transformedItem$ | async"-->
<!--    ></app-transforms-sidebar-functions-form>-->
  </ng-container>
</ng-container>
