<ng-container *ngIf="(gridContainer$ | async) as gridContainer">
    <ng-container *ngIf="gridContainer">
        <app-grid-sidebar-container-form [gridContainer]="gridContainer"></app-grid-sidebar-container-form>
    </ng-container>
</ng-container>
