<div class="flex flex-col w-full">
  <div class="text-xl font-bold text-gray-700">{{lang | uppercase }}</div>

<pre class="rounded-xl code-container" [ngClass]="'language-'+lang">
<code #codeContainer [ngClass]="'language-'+lang">{{ code }}</code>
</pre>

</div>
