<div class="relative pl-16">
  <div class="text-base font-semibold leading-7 text-gray-900">
    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600 text-white">
      <fa-icon [icon]="page.icon"></fa-icon>
    </div>
    <a [routerLink]="page.path">{{ page.name }} </a>
  </div>
  <div class="mt-2 text-base leading-7 text-gray-600 min-h-[90px]">{{ page.description }}</div>
  <div class="text-center mt-2">
    <a
      [routerLink]="page.path"
      class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-semibold text-white hover:opacity-90"
    >
      Try it out
    </a>
  </div>
</div>
