<form [formGroup]="transformFunctions2DForm">
  <div *ngFor="let func of this.transforms2D">
    <div class="flex items-start">
      <div class="flex h-6 items-center">
        <input
          [formControlName]="func + 'Checkbox'"
          [name]="func + 'Checkbox'"
          type="checkbox"
          value="1"
          class="w-4 h-4 text-indigo-600 bg-gray-100 border-gray-300 rounded focus:ring-indigo-500 dark:focus:ring-indigo-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        >
      </div>
      <div class="ml-3 text-sm leading-6">
        <div class="font-semibold">
          {{ func }}
        </div>
      </div>
    </div>

    <div [ngSwitch]="func">
      <ng-container *ngSwitchCase="'matrix'">
        <div [formGroupName]="func" *ngIf="getForm2dControl(func+'Checkbox').value">
          <div class="grid grid-cols-3 gap-2 mb-2">
            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                a
              </div>
              <input
                formControlName="a"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixA"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                b
              </div>
              <input
                formControlName="b"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixB"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                c
              </div>
              <input
                formControlName="c"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixC"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                d
              </div>
              <input
                formControlName="d"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixD"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                tx
              </div>
              <input
                formControlName="tx"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixTx"
              />
            </div>

            <div>
              <div class="mb-2 lowercase text-base font-semibold block">
                ty
              </div>
              <input
                formControlName="ty"
                class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                type="number"
                name="matrixTy"
              />
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'rotate'">
        <ng-container *ngTemplateOutlet="valueUnitDegreePicker; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'rotateX'">
        <ng-container *ngTemplateOutlet="valueUnitDegreePicker; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'rotateY'">
        <ng-container *ngTemplateOutlet="valueUnitDegreePicker; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'skewX'">
        <ng-container *ngTemplateOutlet="valueUnitDegreePicker; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'skewY'">
        <ng-container *ngTemplateOutlet="valueUnitDegreePicker; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'translate'">
        <div
          class="mb-2"
          [formGroup]="getForm2dGroup(func)"
          *ngIf="getForm2dControl(func+'Checkbox').value"
        >
          <div>
            <app-unit-picker
              [label]="'x'"
              [unitFormGroup]="getForm2dGroup('translate.x')"
            ></app-unit-picker>
          </div>

          <div>
            <app-unit-picker
              [label]="'y'"
              [unitFormGroup]="getForm2dGroup('translate.y')"
            ></app-unit-picker>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'translateX'">
        <ng-container *ngTemplateOutlet="valueUnitPicker; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'translateY'">
        <ng-container *ngTemplateOutlet="valueUnitPicker; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'scale'">
        <ng-container *ngTemplateOutlet="numberValue; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'scaleX'">
        <ng-container *ngTemplateOutlet="numberValue; context:{'func': func}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'scaleY'">
        <ng-container *ngTemplateOutlet="numberValue; context:{'func': func}"></ng-container>
      </ng-container>
    </div>

  </div>
</form>

<ng-template #numberValue let-func="func">
  <div class="mb-2" *ngIf="getForm2dControl(func+'Checkbox').value">
    <input
      [formControl]="getForm2dControl(func)"
      class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2 mt-2"
      type="number"
      [name]="func"
    />
  </div>
</ng-template>

<ng-template #valueUnitPicker let-func="func">
  <div class="mb-2" *ngIf="getForm2dControl(func+'Checkbox').value">
    <app-unit-picker
      [unitFormGroup]="getForm2dGroup(func)"
    ></app-unit-picker>
  </div>
</ng-template>

<ng-template #valueUnitDegreePicker let-func="func">
  <div class="mb-2" *ngIf="getForm2dControl(func+'Checkbox').value">
    <app-degree-unit-picker
      [unitFormGroup]="getForm2dGroup(func)"
    ></app-degree-unit-picker>
  </div>
</ng-template>
