<app-animations-sidebar-nav></app-animations-sidebar-nav>

<div class="flex-1">
  <ng-container *ngIf="activeTab$ | async as activeTab">
    <app-animations-sidebar-animation *ngIf="activeTab == 'animation'"></app-animations-sidebar-animation>
    <app-animations-sidebar-keyframes *ngIf="activeTab== 'keyframes'"></app-animations-sidebar-keyframes>
  </ng-container>
</div>

<div
  class="text-sm my-2"
>
  Comprehensive guide to animations
  <a
    class="text-indigo-900"
    href="https://css-tricks.com/almanac/properties/a/animation/"
    target="_blank"
  >here</a>
  and
  <a
    class="text-indigo-900"
    href="https://developer.mozilla.org/en-US/docs/Web/CSS/animation"
    target="_blank"
  >here</a>
</div>
