<ng-container *ngIf="animationState">
  <form [formGroup]="animationForm">
    <div class="mb-4">
      <app-time-unit-picker
        [label]="'animation-duration'"
        [timeUnitFormGroup]="animationDuration"
      ></app-time-unit-picker>
    </div>

    <div class="mb-4">
      <app-time-unit-picker
        [label]="'animation-delay'"
        [timeUnitFormGroup]="animationDelay"
      ></app-time-unit-picker>
    </div>

    <app-flexbox-sidebar-container-select
      *ngFor="let item of animationSelects | keyvalue: originalOrder"
      [selectFormControl]="animationForm.controls[item.key] | formControl"
      [label]="kebabize(item.key)"
      [value]="item.value"
      [options]="animationProperties[item.key]"
    ></app-flexbox-sidebar-container-select>

    <div class="mb-4">
      <label for="animationIterationCount" class="mb-2 lowercase text-base font-semibold block">
        animation-iteration-count
      </label>
      <input
        formControlName="animationIterationCount"
        class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
        type="text"
        id="animationIterationCount"
      />
    </div>

    <div class="mb-4">
      <label for="animationName" class="mb-2 lowercase text-base font-semibold block">
        animation-name
      </label>
      <input
        formControlName="animationName"
        class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
        type="text"
        id="animationName"
      />
    </div>
  </form>
</ng-container>
