<a
  [routerLink]="page.path"
  routerLinkActive="bg-indigo-900"
  class="hover:bg-indigo-900 text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md cursor-pointer lg:text-base"
>
  <div class="text-center mr-3 flex-shrink-0 h-6 w-6 text-indigo-300">
    <i class="text-xl align-middle fas fa-home"></i>
    <fa-icon [icon]="page.icon"></fa-icon>
  </div>
  <span class="flex-1">{{ page.name }}</span>
</a>
