<app-transforms-sidebar-nav></app-transforms-sidebar-nav>

<div class="flex-1">
  <ng-container *ngIf="activeTab$ | async as activeTab">
    <app-transforms-sidebar-item *ngIf="activeTab == 'item'"></app-transforms-sidebar-item>
    <app-transforms-sidebar-functions *ngIf="activeTab== 'transforms'"></app-transforms-sidebar-functions>
  </ng-container>
</div>

<div
  class="text-sm my-2"
>
  Comprehensive guide to transforms
  <a
    class="text-indigo-900"
    href="https://developer.mozilla.org/en-US/docs/Web/CSS/transform"
    target="_blank"
  >here</a>
  and
  <a
    class="text-indigo-900"
    href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_transforms/Using_CSS_transforms"
    target="_blank"
  >here</a>
</div>
