<ng-container
  *ngIf="{transformOptionsState: transformOptionsState$ | async, transformedItemState: transformedItemState$ | async} as transform">
  <ng-container *ngIf="transform.transformOptionsState && transform.transformedItemState">
    <app-transforms-sidebar-item-form
      [transformOptionsState]="transform.transformOptionsState"
      [transformedItemState]="transform.transformedItemState"
    ></app-transforms-sidebar-item-form>
  </ng-container>
</ng-container>
