<div id="video-container" class="flex flex-1 items-center justify-center">
  <video controls autoplay #video id="video" src="/assets/video.mp4"></video>
</div>

<div class="flex items-center justify-center">
  <button
    (click)="togglePictureMode()"
    class="rounded my-6 p-2 font-semibold bg-orange-600 hover:bg-orange-700 text-white
            cursor-pointer text-center focus:outline-none focus:ring-4 focus:ring-offset-2
            focus:ring-orange-600 focus:ring-opacity-40"
  >
    Toggle Picture Mode
  </button>
</div>
