#video {
  width: 100%;
}

#video-container {
  position: relative;
}

#video-container:has(video:picture-in-picture)::after {
  content: 'Video is now playing in a Picture-in-Picture window';
  position: absolute;
  background-color: var(--background-color);
  border: var(--border);
  color: var(--color);
  width: 100%;
  height: 100%;
  padding: 40px;
}
