<div
  class="flex flex-col h-full text-gray-600"
>
  <div class="flex items-center justify-center">
    <button
      (click)="openModal()"
      class="rounded my-6 p-2 font-semibold bg-orange-600 hover:bg-orange-700 text-white
            cursor-pointer text-center focus:outline-none focus:ring-4 focus:ring-offset-2
            focus:ring-orange-600 focus:ring-opacity-40"
    >
      Open modal
    </button>
  </div>
</div>

<dialog #dialog>
  <form
    method="dialog"
    class="flex flex-col items-center w-80 h-80 p-8"
  >
    <div class="flex-1 text-center">
      <p class="my-1">Modal content.</p>
      <p class="my-1">Close by clicking the button below or pressing Esc.</p>
    </div>
    <button
      class="rounded my-6 p-2 font-semibold bg-orange-600 hover:bg-orange-700 text-white
            cursor-pointer text-center focus:outline-none focus:ring-4 focus:ring-offset-2
            focus:ring-orange-600 focus:ring-opacity-40"
    >
      Close dialog
    </button>
  </form>
</dialog>
