<div
    class="flex flex-row font-sans text-gray-900 h-screen"
>
  <app-flexbox-sidebar
    class="flex-shrink-0 min-w-[300px] w-3/12 flex flex-col bg-gray-200 border-r border-gray-300
    m-4 rounded-xl border-2 px-3 sticky top-0 overflow-auto"
  >
  </app-flexbox-sidebar>
  <app-flexbox-container
    class="rounded-xl m-4 border-2 border-dashed border-gray-300 flex flex-grow bg-gray-200 p-4 gap-4 overflow-auto"
    *ngIf="!(showCodeContainer$ | async); else codeContainer"
  ></app-flexbox-container>

  <ng-template #codeContainer>
    <ng-container *ngIf="{html: flexboxHtml$ | async, css: flexboxCss$ | async} as flexboxCode">
      <ng-container *ngIf="flexboxCode.html && flexboxCode.css">
        <app-code-container
          [codeHtml]="flexboxCode.html"
          [codeCss]="flexboxCode.css"
          class="rounded-xl m-4 border-2 border-dashed border-gray-300 flex flex-grow bg-gray-200 p-4 gap-4 overflow-auto"
        ></app-code-container>
      </ng-container>
    </ng-container>
  </ng-template>
</div>
