<div
  class="flex flex-row font-sans text-gray-900 h-screen"
>
  <app-transforms-sidebar
    class="flex-shrink-0 min-w-[300px] w-3/12 flex flex-col bg-gray-200 border-r border-gray-300
      m-4 rounded-xl border-2 px-3 sticky top-0 overflow-auto"
  >
  </app-transforms-sidebar>
  <app-transforms-container
    class="rounded-xl m-4 border-2 border-dashed border-gray-300 flex items-center justify-center flex-grow bg-gray-200 p-4 gap-4 overflow-auto"
    *ngIf="!(showCodeContainer$ | async); else codeContainer"
  ></app-transforms-container>

  <ng-template #codeContainer>
    <ng-container *ngIf="{html: transformsHtml$ | async, css: transformsCss$ | async} as transformsCode">
      <ng-container *ngIf="transformsCode.html && transformsCode.css">
        <app-code-container
          [codeHtml]="transformsCode.html"
          [codeCss]="transformsCode.css"
          class="rounded-xl m-4 border-2 border-dashed border-gray-300 flex flex-grow bg-gray-200 p-4 gap-4 overflow-auto"
        ></app-code-container>
      </ng-container>
    </ng-container>
  </ng-template>
</div>
