<div
  class="flex flex-row font-sans text-gray-900 h-screen"
>
  <app-pseudo-classes-sidebar
    class="flex-shrink-0 min-w-[300px] w-3/12 flex flex-col bg-gray-200 border-r border-gray-300
      m-4 rounded-xl border-2 px-3 sticky top-0 overflow-auto"
  >
  </app-pseudo-classes-sidebar>
  <app-pseudo-classes-container
    class="rounded-xl m-4 border-2 border-dashed border-gray-300 flex flex-grow bg-gray-200 p-4 gap-4 overflow-auto"
    *ngIf="!(showCodeContainer$ | async); else codeContainer"
  ></app-pseudo-classes-container>

  <ng-template #codeContainer>
    <ng-container *ngIf="{html: pseudoClassesHtml$ | async, css: pseudoClassesCss$ | async} as pseudoClassesCode">
      <ng-container *ngIf="pseudoClassesCode.html && pseudoClassesCode.css">
        <app-code-container
          [codeHtml]="pseudoClassesCode.html"
          [codeCss]="pseudoClassesCode.css"
          class="rounded-xl m-4 border-2 border-dashed border-gray-300 flex flex-grow bg-gray-200 p-4 gap-4 overflow-auto"
        ></app-code-container>
      </ng-container>
    </ng-container>
  </ng-template>
</div>
