
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #f97316;
}

/* Style the custom scrollbar for WebKit-based browsers */
::-webkit-scrollbar-thumb {
  background-color: #f97316;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #c2410c;
}

/* Style the custom scrollbar for Firefox */
.scroller {
  scrollbar-color: #f97316 transparent;
  scrollbar-width: auto;
}
