<ng-container *ngIf="(flexboxContainer$ | async) as flexboxContainer">
  <div
    class="h-full flex flex-grow text-center p-4 overflow-auto scroller"
    [ngStyle]="{
      'flex-direction': flexboxContainer.flexDirection,
      'flex-wrap': flexboxContainer.flexWrap,
      'justify-content': flexboxContainer.justifyContent,
      'align-items': flexboxContainer.alignItems,
      'align-content': flexboxContainer.alignContent,
      'row-gap': flexboxContainer.rowGap.value.toString()+flexboxContainer.rowGap.unit,
      'column-gap': flexboxContainer.columnGap.value.toString()+flexboxContainer.columnGap.unit,
    }"
  >
    <div
      *ngFor="let flexboxItem of (flexboxItems$ | async); let i = index;"
      (click)="setSelectedItem(flexboxItem.id)"
      [ngStyle]="{
        'order': flexboxItem.styles.order,
        'flex-grow': flexboxItem.styles.flexGrow,
        'flex-shrink': flexboxItem.styles.flexShrink,
        'flex-basis': flexboxItem.styles.flexBasis,
        'align-self': flexboxItem.styles.alignSelf,
      }"
      [ngClass]="{
        'bg-orange-600': (selectedItem$ | async)?.id == flexboxItem.id,
        'bg-orange-400': (selectedItem$ | async)?.id != flexboxItem.id
      }"
      class="text-gray-300 cursor-pointer text-center px-16 py-8 rounded-xl hover:bg-orange-700
        drop-shadow-[0_4px_6px_rgba(255,164,92,0.1)]"
    >
      <fa-icon
        class="text-gray-300 hover:text-gray-500 absolute top-1 right-1"
        [icon]="faDelete"
        (click)="removeFlexItem(flexboxItem.id)"
      ></fa-icon>
      {{ i }}
    </div>
  </div>
</ng-container>
