<div class="border-b border-gray-900/10 pb-12">
    <h2
      class="text-base font-semibold leading-7 text-gray-900"
      [ngClass]="{
        'read-only': pseudoClass == 'read-only',
      }"
    >
      Hogwarts Application
    </h2>

    <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-2 sm:grid-cols-6">
        <div class="sm:col-span-2">
            <label
              for="first-name"
              class="block text-sm font-medium leading-6 text-gray-900"
              [ngClass]="{
                'read-only': pseudoClass == 'read-only',
              }"
            >
                First Name *
            </label>
            <div class="mt-2">
                <input
                  [ngClass]="{
                    'autofill': pseudoClass == 'autofill',
                    'enabled': pseudoClass == 'enabled',
                    'disabled': pseudoClass == 'disabled',
                    'read-only': pseudoClass == 'read-only',
                    'read-write': pseudoClass == 'read-write',
                    'placeholder-shown': pseudoClass == 'placeholder-shown',
                    'default': pseudoClass == 'default',
                    'valid': pseudoClass == 'valid',
                    'invalid': pseudoClass == 'invalid',
                    'required': pseudoClass == 'required',
                    'optional': pseudoClass == 'optional',
                  }"
                  required
                  placeholder="Harry"
                  type="text"
                  name="first-name"
                  id="first-name"
                  autocomplete="given-name"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                >
            </div>
        </div>

        <div class="sm:col-span-2">
            <label
              for="last-name"
              class="block text-sm font-medium leading-6 text-gray-900"
              [ngClass]="{
                'read-only': pseudoClass == 'read-only',
              }"
            >
              Last Name *
            </label>
            <div class="mt-2">
                <input
                  [ngClass]="{
                    'autofill': pseudoClass == 'autofill',
                    'enabled': pseudoClass == 'enabled',
                    'disabled': pseudoClass == 'disabled',
                    'read-only': pseudoClass == 'read-only',
                    'read-write': pseudoClass == 'read-write',
                    'placeholder-shown': pseudoClass == 'placeholder-shown',
                    'default': pseudoClass == 'default',
                    'valid': pseudoClass == 'valid',
                    'invalid': pseudoClass == 'invalid',
                    'required': pseudoClass == 'required',
                    'optional': pseudoClass == 'optional',
                  }"
                  required
                  placeholder="Potter"
                  type="text"
                  name="last-name"
                  id="last-name"
                  autocomplete="family-name"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                >
            </div>
        </div>

        <div class="sm:col-span-2">
          <label
            for="date-of-birth"
            class="block text-sm font-medium leading-6 text-gray-900"
            [ngClass]="{
              'read-only': pseudoClass == 'read-only',
            }"
          >
            Date of Birth
          </label>
          <div class="mt-2">
            <input
              [ngClass]="{
                'autofill': pseudoClass == 'autofill',
                'enabled': pseudoClass == 'enabled',
                'disabled': pseudoClass == 'disabled',
                'read-only': pseudoClass == 'read-only',
                'read-write': pseudoClass == 'read-write',
                'placeholder-shown': pseudoClass == 'placeholder-shown',
                'default': pseudoClass == 'default',
                'in-range': pseudoClass == 'in-range',
                'out-of-range': pseudoClass == 'out-of-range',
                    'required': pseudoClass == 'required',
                    'optional': pseudoClass == 'optional',
              }"
              type="date"
              min="2000-01-01"
              max="2023-12-31"
              value="2024-01-01"
              id="date-of-birth"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            >
          </div>
        </div>

        <div class="sm:col-span-3">
            <label
              for="email"
              class="block text-sm font-medium leading-6 text-gray-900"
              [ngClass]="{
                'read-only': pseudoClass == 'read-only',
              }"
            >
              Muggle Email Address
            </label>
            <div class="mt-2">
                <input
                  [ngClass]="{
                    'autofill': pseudoClass == 'autofill',
                    'enabled': pseudoClass == 'enabled',
                    'disabled': pseudoClass == 'disabled',
                    'read-only': pseudoClass == 'read-only',
                    'read-write': pseudoClass == 'read-write',
                    'placeholder-shown': pseudoClass == 'placeholder-shown',
                    'default': pseudoClass == 'default',
                    'valid': pseudoClass == 'valid',
                    'invalid': pseudoClass == 'invalid',
                    'required': pseudoClass == 'required',
                    'optional': pseudoClass == 'optional',
                  }"
                  id="email"
                  name="email"
                  type="email"
                  autocomplete="email"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                >
            </div>
        </div>

        <div class="sm:col-span-3">
            <label
              for="country"
              class="block text-sm font-medium leading-6 text-gray-900"
              [ngClass]="{
                'read-only': pseudoClass == 'read-only',
              }"
            >
              Country
            </label>
            <div class="mt-2">
                <select
                  [ngClass]="{
                    'autofill': pseudoClass == 'autofill',
                    'enabled': pseudoClass == 'enabled',
                    'disabled': pseudoClass == 'disabled',
                    'read-only': pseudoClass == 'read-only',
                    'read-write': pseudoClass == 'read-write',
                    'placeholder-shown': pseudoClass == 'placeholder-shown',
                    'default': pseudoClass == 'default',
                    'required': pseudoClass == 'required',
                    'optional': pseudoClass == 'optional',
                  }"
                  id="country"
                  name="country"
                  autocomplete="country-name"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                >
                    <option
                        value="United States"
                        [ngClass]="{
                            'checked': pseudoClass == 'checked',
                        }"
                    >United States</option>
                    <option
                        value="Canada"
                        [ngClass]="{
                            'checked': pseudoClass == 'checked',
                        }"
                    >Canada</option>
                    <option
                        value="Mexico"
                        [ngClass]="{
                            'checked': pseudoClass == 'checked',
                        }"
                    >Mexico</option>
                    <option
                        value="United Kingdom"
                        selected
                        [ngClass]="{
                            'default': pseudoClass == 'default',
                            'checked': pseudoClass == 'checked',
                        }"
                    >United Kingdom</option>
                    <option
                        value="France"
                        [ngClass]="{
                            'checked': pseudoClass == 'checked',
                        }"
                    >France</option>
                    <option
                        value="Germany"
                        [ngClass]="{
                            'checked': pseudoClass == 'checked',
                        }"
                    >Germany</option>
                    <option
                        value="Other"
                        [ngClass]="{
                            'checked': pseudoClass == 'checked',
                        }"
                    >Other</option>
                </select>
            </div>
        </div>

        <div class="col-span-full">
            <label
              for="street-address"
              class="block text-sm font-medium leading-6 text-gray-900"
              [ngClass]="{
                'read-only': pseudoClass == 'read-only',
              }"
            >
              Street Address
            </label>
            <div class="mt-2">
                <input
                  [ngClass]="{
                    'autofill': pseudoClass == 'autofill',
                    'enabled': pseudoClass == 'enabled',
                    'disabled': pseudoClass == 'disabled',
                    'read-only': pseudoClass == 'read-only',
                    'read-write': pseudoClass == 'read-write',
                    'placeholder-shown': pseudoClass == 'placeholder-shown',
                    'default': pseudoClass == 'default',
                    'required': pseudoClass == 'required',
                    'optional': pseudoClass == 'optional',
                  }"
                  type="text"
                  name="street-address"
                  id="street-address"
                  autocomplete="street-address"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                >
            </div>
        </div>

        <div class="sm:col-span-2 sm:col-start-1">
            <label
              for="city"
              class="block text-sm font-medium leading-6 text-gray-900"
              [ngClass]="{
                'read-only': pseudoClass == 'read-only',
              }"
            >
              City
            </label>
            <div class="mt-2">
                <input
                  [ngClass]="{
                    'autofill': pseudoClass == 'autofill',
                    'enabled': pseudoClass == 'enabled',
                    'disabled': pseudoClass == 'disabled',
                    'read-only': pseudoClass == 'read-only',
                    'read-write': pseudoClass == 'read-write',
                    'placeholder-shown': pseudoClass == 'placeholder-shown',
                    'default': pseudoClass == 'default',
                    'required': pseudoClass == 'required',
                    'optional': pseudoClass == 'optional',
                  }"
                  type="text"
                  name="city" id="city"
                  autocomplete="address-level2"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                >
            </div>
        </div>

        <div class="sm:col-span-2">
            <label
              for="region"
              class="block text-sm font-medium leading-6 text-gray-900"
              [ngClass]="{
                'read-only': pseudoClass == 'read-only',
              }"
            >
              State / Province
            </label>
            <div class="mt-2">
                <input
                  [ngClass]="{
                    'autofill': pseudoClass == 'autofill',
                    'enabled': pseudoClass == 'enabled',
                    'disabled': pseudoClass == 'disabled',
                    'read-only': pseudoClass == 'read-only',
                    'read-write': pseudoClass == 'read-write',
                    'placeholder-shown': pseudoClass == 'placeholder-shown',
                    'default': pseudoClass == 'default',
                    'required': pseudoClass == 'required',
                    'optional': pseudoClass == 'optional',
                  }"
                  disabled
                  type="text"
                  name="region"
                  id="region"
                  autocomplete="address-level1"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                >
            </div>
        </div>

        <div class="sm:col-span-2">
            <label
              for="postal-code"
              class="block text-sm font-medium leading-6 text-gray-900"
              [ngClass]="{
                'read-only': pseudoClass == 'read-only',
              }"
            >
              ZIP / Postal code
            </label>
            <div class="mt-2">
                <input
                  [ngClass]="{
                    'autofill': pseudoClass == 'autofill',
                    'enabled': pseudoClass == 'enabled',
                    'disabled': pseudoClass == 'disabled',
                    'read-only': pseudoClass == 'read-only',
                    'read-write': pseudoClass == 'read-write',
                    'placeholder-shown': pseudoClass == 'placeholder-shown',
                    'default': pseudoClass == 'default',
                    'required': pseudoClass == 'required',
                    'optional': pseudoClass == 'optional',
                  }"
                  type="text"
                  name="postal-code"
                  id="postal-code"
                  autocomplete="postal-code"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                >
            </div>
        </div>

        <div class="col-span-full">
          <label
            class="block text-sm font-medium leading-6 text-gray-900"
            [ngClass]="{
              'read-only': pseudoClass == 'read-only',
            }"
          >
            Your file
          </label>
          <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
            <div class="text-center">
              <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
              </svg>
              <div class="mt-4 flex text-sm leading-6 text-gray-600">
                <label
                  for="file"
                  class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500"
                >
<!--                  <span>Upload a file</span>-->
                  <input
                    [ngClass]="{
                        'autofill': pseudoClass == 'autofill',
                        'enabled': pseudoClass == 'enabled',
                        'disabled': pseudoClass == 'disabled',
                        'read-only': pseudoClass == 'read-only',
                        'read-write': pseudoClass == 'read-write',
                        'placeholder-shown': pseudoClass == 'placeholder-shown',
                        'default': pseudoClass == 'default',
                        'required': pseudoClass == 'required',
                        'optional': pseudoClass == 'optional',
                    }"
                    id="file"
                    name="file-upload"
                    type="file"
                    class="rounded-md p-2"
                  >
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-span-full">
          <label
            for="about"
            class="block text-sm font-medium leading-6 text-gray-900"
            [ngClass]="{
              'read-only': pseudoClass == 'read-only',
            }"
          >
            If any of your relatives attended Hogwarts, or if you have any affiliation, write that down.
          </label>
          <div class="mt-2">
            <textarea
              [ngClass]="{
                'autofill': pseudoClass == 'autofill',
                'enabled': pseudoClass == 'enabled',
                'disabled': pseudoClass == 'disabled',
                'read-only': pseudoClass == 'read-only',
                'read-write': pseudoClass == 'read-write',
                'placeholder-shown': pseudoClass == 'placeholder-shown',
                'default': pseudoClass == 'default',
                'required': pseudoClass == 'required',
                'optional': pseudoClass == 'optional',
              }"
              id="about"
              name="about"
              rows="3"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            ></textarea>
          </div>
        </div>

        <div class="col-span-3">
          <fieldset class="mt-2">
            <legend
              class="text-sm font-semibold leading-6 text-gray-900"
              [ngClass]="{
                'read-only': pseudoClass == 'read-only',
              }"
            >
              Elective classes for first semester
            </legend>
            <div class="mt-4 space-y-2">
              <div class="relative flex gap-x-3">
                <div class="flex h-6 items-center">
                  <input
                    [ngClass]="{
                        'autofill': pseudoClass == 'autofill',
                        'enabled': pseudoClass == 'enabled',
                        'disabled': pseudoClass == 'disabled',
                        'read-only': pseudoClass == 'read-only',
                        'read-write': pseudoClass == 'read-write',
                        'placeholder-shown': pseudoClass == 'placeholder-shown',
                        'default': pseudoClass == 'default',
                        'checked': pseudoClass == 'checked',
                        'required': pseudoClass == 'required',
                        'optional': pseudoClass == 'optional',
                    }"
                    checked
                    id="class-transfiguration"
                    name="classes"
                    type="checkbox"
                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                  >
                </div>
                <div class="text-sm leading-6">
                  <label
                    for="class-transfiguration"
                    class="font-medium text-gray-900"
                    [ngClass]="{
                      'read-only': pseudoClass == 'read-only',
                    }"
                  >
                    Transfiguration
                  </label>
                </div>
              </div>

              <div class="relative flex gap-x-3">
                <div class="flex h-6 items-center">
                  <input
                    [ngClass]="{
                        'autofill': pseudoClass == 'autofill',
                        'enabled': pseudoClass == 'enabled',
                        'disabled': pseudoClass == 'disabled',
                        'read-only': pseudoClass == 'read-only',
                        'read-write': pseudoClass == 'read-write',
                        'placeholder-shown': pseudoClass == 'placeholder-shown',
                        'default': pseudoClass == 'default',
                        'checked': pseudoClass == 'checked',
                        'required': pseudoClass == 'required',
                        'optional': pseudoClass == 'optional',
                    }"
                    id="class-charms"
                    name="classes"
                    type="checkbox"
                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                  >
                </div>
                <div class="text-sm leading-6">
                  <label
                    for="class-charms"
                    class="font-medium text-gray-900"
                    [ngClass]="{
                      'read-only': pseudoClass == 'read-only',
                    }"
                  >
                    Charms
                  </label>
                </div>
              </div>

              <div class="relative flex gap-x-3">
                <div class="flex h-6 items-center">
                  <input
                    [ngClass]="{
                        'autofill': pseudoClass == 'autofill',
                        'enabled': pseudoClass == 'enabled',
                        'disabled': pseudoClass == 'disabled',
                        'read-only': pseudoClass == 'read-only',
                        'read-write': pseudoClass == 'read-write',
                        'placeholder-shown': pseudoClass == 'placeholder-shown',
                        'default': pseudoClass == 'default',
                        'checked': pseudoClass == 'checked',
                        'required': pseudoClass == 'required',
                        'optional': pseudoClass == 'optional',
                    }"
                    id="class-potions"
                    name="classes"
                    type="checkbox"
                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                  >
                </div>
                <div class="text-sm leading-6">
                  <label
                    for="class-potions"
                    class="font-medium text-gray-900"
                    [ngClass]="{
                      'read-only': pseudoClass == 'read-only',
                    }"
                  >
                    Potions
                  </label>
                </div>
              </div>

              <div class="relative flex gap-x-3">
                <div class="flex h-6 items-center">
                  <input
                    [ngClass]="{
                        'autofill': pseudoClass == 'autofill',
                        'enabled': pseudoClass == 'enabled',
                        'disabled': pseudoClass == 'disabled',
                        'read-only': pseudoClass == 'read-only',
                        'read-write': pseudoClass == 'read-write',
                        'placeholder-shown': pseudoClass == 'placeholder-shown',
                        'default': pseudoClass == 'default',
                        'checked': pseudoClass == 'checked',
                        'required': pseudoClass == 'required',
                        'optional': pseudoClass == 'optional',
                    }"
                    id="class-history"
                    name="classes"
                    type="checkbox"
                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                  >
                </div>
                <div class="text-sm leading-6">
                  <label
                    for="class-history"
                    class="font-medium text-gray-900"
                    [ngClass]="{
                      'read-only': pseudoClass == 'read-only',
                    }"
                  >
                    History of Magic
                  </label>
                </div>
              </div>

              <div class="relative flex gap-x-3">
                <div class="flex h-6 items-center">
                  <input
                    [ngClass]="{
                        'autofill': pseudoClass == 'autofill',
                        'enabled': pseudoClass == 'enabled',
                        'disabled': pseudoClass == 'disabled',
                        'read-only': pseudoClass == 'read-only',
                        'read-write': pseudoClass == 'read-write',
                        'placeholder-shown': pseudoClass == 'placeholder-shown',
                        'default': pseudoClass == 'default',
                        'checked': pseudoClass == 'checked',
                        'indeterminate': pseudoClass == 'indeterminate',
                        'required': pseudoClass == 'required',
                        'optional': pseudoClass == 'optional',
                    }"
                    [indeterminate]="pseudoClass == 'indeterminate'"
                    id="class-defence"
                    name="classes"
                    type="checkbox"
                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                  >
                </div>
                <div class="text-sm leading-6">
                  <label
                    for="class-defence"
                    class="font-medium text-gray-900"
                    [ngClass]="{
                      'read-only': pseudoClass == 'read-only',
                    }"
                  >
                    Defence Against the Dark Arts
                  </label>
                </div>
              </div>

              <div class="relative flex gap-x-3">
                <div class="flex h-6 items-center">
                  <input
                    [ngClass]="{
                        'autofill': pseudoClass == 'autofill',
                        'enabled': pseudoClass == 'enabled',
                        'disabled': pseudoClass == 'disabled',
                        'read-only': pseudoClass == 'read-only',
                        'read-write': pseudoClass == 'read-write',
                        'placeholder-shown': pseudoClass == 'placeholder-shown',
                        'default': pseudoClass == 'default',
                        'checked': pseudoClass == 'checked',
                        'indeterminate': pseudoClass == 'indeterminate',
                        'required': pseudoClass == 'required',
                        'optional': pseudoClass == 'optional',
                    }"
                    [indeterminate]="pseudoClass == 'indeterminate'"
                    id="class-astronomy"
                    name="classes"
                    type="checkbox"
                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                  >
                </div>
                <div class="text-sm leading-6">
                  <label
                    for="class-astronomy"
                    class="font-medium text-gray-900"
                    [ngClass]="{
                      'read-only': pseudoClass == 'read-only',
                    }"
                  >
                    Astronomy
                  </label>
                </div>
              </div>

              <div class="relative flex gap-x-3">
                <div class="flex h-6 items-center">
                  <input
                    [ngClass]="{
                        'autofill': pseudoClass == 'autofill',
                        'enabled': pseudoClass == 'enabled',
                        'disabled': pseudoClass == 'disabled',
                        'read-only': pseudoClass == 'read-only',
                        'read-write': pseudoClass == 'read-write',
                        'placeholder-shown': pseudoClass == 'placeholder-shown',
                        'default': pseudoClass == 'default',
                        'checked': pseudoClass == 'checked',
                        'indeterminate': pseudoClass == 'indeterminate',
                        'required': pseudoClass == 'required',
                        'optional': pseudoClass == 'optional',
                    }"
                    [indeterminate]="pseudoClass == 'indeterminate'"
                    id="class-herbology"
                    name="classes"
                    type="checkbox"
                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                  >
                </div>
                <div class="text-sm leading-6">
                  <label
                    for="class-herbology"
                    class="font-medium text-gray-900"
                    [ngClass]="{
                      'read-only': pseudoClass == 'read-only',
                    }"
                  >
                    Herbology
                  </label>
                </div>
              </div>

            </div>
          </fieldset>
        </div>

        <div class="col-span-3">
          <fieldset class="mt-2">
            <legend
              class="text-sm font-semibold leading-6 text-gray-900"
              [ngClass]="{
                'read-only': pseudoClass == 'read-only',
              }"
            >
              Which pet will you be bringing?
            </legend>
            <div class="mt-4 space-y-2">
              <div class="flex items-center gap-x-3">
                <input
                  [ngClass]="{
                    'autofill': pseudoClass == 'autofill',
                    'enabled': pseudoClass == 'enabled',
                    'disabled': pseudoClass == 'disabled',
                    'read-only': pseudoClass == 'read-only',
                    'read-write': pseudoClass == 'read-write',
                    'placeholder-shown': pseudoClass == 'placeholder-shown',
                    'default': pseudoClass == 'default',
                    'checked': pseudoClass == 'checked',
                    'indeterminate': pseudoClass == 'indeterminate',
                    'required': pseudoClass == 'required',
                    'optional': pseudoClass == 'optional',
                  }"
                  [checked]="pseudoClass == 'checked'"
                  [indeterminate]="pseudoClass == 'indeterminate'"
                  id="pet-owl"
                  name="pet"
                  type="radio"
                  class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600"
                >
                <label
                  for="pet-owl"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  [ngClass]="{
                    'read-only': pseudoClass == 'read-only',
                  }"
                >
                  Owl
                </label>
              </div>
              <div class="flex items-center gap-x-3">
                <input
                  [ngClass]="{
                    'autofill': pseudoClass == 'autofill',
                    'enabled': pseudoClass == 'enabled',
                    'disabled': pseudoClass == 'disabled',
                    'read-only': pseudoClass == 'read-only',
                    'read-write': pseudoClass == 'read-write',
                    'placeholder-shown': pseudoClass == 'placeholder-shown',
                    'default': pseudoClass == 'default',
                    'checked': pseudoClass == 'checked',
                    'indeterminate': pseudoClass == 'indeterminate',
                    'required': pseudoClass == 'required',
                    'optional': pseudoClass == 'optional',
                  }"
                  [indeterminate]="pseudoClass == 'indeterminate'"
                  id="pet-toad"
                  name="pet"
                  type="radio"
                  class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600"
                >
                <label
                  for="pet-toad"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  [ngClass]="{
                    'read-only': pseudoClass == 'read-only',
                  }"
                >
                  Toad
                </label>
              </div>
              <div class="flex items-center gap-x-3">
                <input
                  [ngClass]="{
                    'autofill': pseudoClass == 'autofill',
                    'enabled': pseudoClass == 'enabled',
                    'disabled': pseudoClass == 'disabled',
                    'read-only': pseudoClass == 'read-only',
                    'read-write': pseudoClass == 'read-write',
                    'placeholder-shown': pseudoClass == 'placeholder-shown',
                    'default': pseudoClass == 'default',
                    'checked': pseudoClass == 'checked',
                    'indeterminate': pseudoClass == 'indeterminate',
                    'required': pseudoClass == 'required',
                    'optional': pseudoClass == 'optional',
                  }"
                  [indeterminate]="pseudoClass == 'indeterminate'"
                  id="pet-cat"
                  name="pet"
                  type="radio"
                  class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600"
                >
                <label
                  for="pet-cat"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  [ngClass]="{
                    'read-only': pseudoClass == 'read-only',
                  }"
                >
                  Cat
                </label>
              </div>
              <div class="flex items-center gap-x-3">
                <input
                  [ngClass]="{
                    'autofill': pseudoClass == 'autofill',
                    'enabled': pseudoClass == 'enabled',
                    'disabled': pseudoClass == 'disabled',
                    'read-only': pseudoClass == 'read-only',
                    'read-write': pseudoClass == 'read-write',
                    'placeholder-shown': pseudoClass == 'placeholder-shown',
                    'default': pseudoClass == 'default',
                    'checked': pseudoClass == 'checked',
                    'indeterminate': pseudoClass == 'indeterminate',
                    'required': pseudoClass == 'required',
                    'optional': pseudoClass == 'optional',
                  }"
                  [indeterminate]="pseudoClass == 'indeterminate'"
                  id="pet-rat"
                  name="pet"
                  type="radio"
                  class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600"
                >
                <label
                  for="pet-rat"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  [ngClass]="{
                    'read-only': pseudoClass == 'read-only',
                  }"
                >
                  Rat
                </label>
              </div>
            </div>
          </fieldset>
        </div>
    </div>
</div>
