@mixin customize {
  background-color: var(--background-color);
  border: var(--border);
  color: var(--color);
}

.autofill:autofill {
  @include customize;
}

.enabled:enabled {
  @include customize;
}

.optional:optional {
  @include customize;
}

.disabled:disabled{
  @include customize;
}

.read-only:read-only {
  @include customize;
}

.read-write:read-write {
  @include customize;
}

.placeholder-shown:placeholder-shown {
  @include customize;
}

.default:default {
  @include customize;
}

.checked:checked {
  @include customize;
}

.indeterminate:indeterminate{
  @include customize;
}

.valid:valid {
  @include customize;
}

.invalid:invalid {
  @include customize;
}

.in-range:in-range {
  @include customize;
}

.out-of-range:out-of-range {
  @include customize;
}

.required:required {
  @include customize;
}

.optional:optional {
  @include customize;
}
