<form [formGroup]="filtersForm">
  <div *ngFor="let filter of this.filterTypes">
    <div class="flex items-start">
      <div class="flex h-6 items-center">
        <input
          [formControlName]="filter + 'Checkbox'"
          [name]="filter + 'Checkbox'"
          type="checkbox"
          value="1"
          class="w-4 h-4 text-indigo-600 bg-gray-100 border-gray-300 rounded focus:ring-indigo-500 dark:focus:ring-indigo-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        >
      </div>
      <div class="ml-3 text-sm leading-6">
        <div class="font-semibold">
          {{ kebabize(filter) }}
        </div>
      </div>
    </div>

    <div [ngSwitch]="filter">
      <ng-container *ngSwitchCase="'blur'">
        <ng-container *ngTemplateOutlet="valueUnitPicker; context:{'filter': filter}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'brightness'">
        <ng-container *ngTemplateOutlet="numberValue; context:{'filter': filter}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'contrast'">
        <ng-container *ngTemplateOutlet="numberValue; context:{'filter': filter}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'dropShadow'">
        <div
          class="mb-2"
          [formGroup]="getFormGroup(filter)"
          *ngIf="getFormControl(filter+'Checkbox').value"
        >
          <div>
            <app-unit-picker
              [label]="'length-1'"
              [unitFormGroup]="getFormGroup('dropShadow.length1')"
            ></app-unit-picker>
          </div>
          <div>
            <app-unit-picker
              [label]="'length-2'"
              [unitFormGroup]="getFormGroup('dropShadow.length2')"
            ></app-unit-picker>
          </div>

          <div>
            <app-unit-picker
              [label]="'length-3'"
              [unitFormGroup]="getFormGroup('dropShadow.length3')"
            ></app-unit-picker>
          </div>

          <div>
            <div class="mb-2 lowercase text-base font-semibold block">
              color
            </div>
            <input
              [formControl]="getFormControl('dropShadow.color')"
              class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
              type="text"
              [name]="'dropShadow.color'"
            />
          </div>


        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'grayscale'">
        <ng-container *ngTemplateOutlet="numberValue; context:{'filter': filter}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'hueRotate'">
        <ng-container *ngTemplateOutlet="valueUnitDegreePicker; context:{'filter': filter}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'invert'">
        <ng-container *ngTemplateOutlet="numberValue; context:{'filter': filter}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'opacity'">
        <ng-container *ngTemplateOutlet="numberValue; context:{'filter': filter}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'saturate'">
        <ng-container *ngTemplateOutlet="numberValue; context:{'filter': filter}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'sepia'">
        <ng-container *ngTemplateOutlet="numberValue; context:{'filter': filter}"></ng-container>
      </ng-container>

    </div>
  </div>
</form>

<ng-template #numberValue let-filter="filter">
  <div class="mb-2" *ngIf="getFormControl(filter+'Checkbox').value">
    <input
      [formControl]="getFormControl(filter)"
      class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2 mt-2"
      type="number"
      [name]="filter"
    />
  </div>
</ng-template>

<ng-template #valueUnitPicker let-filter="filter">
  <div class="mb-2" *ngIf="getFormControl(filter+'Checkbox').value">
    <app-unit-picker
      [unitFormGroup]="getFormGroup(filter)"
    ></app-unit-picker>
  </div>
</ng-template>

<ng-template #valueUnitDegreePicker let-filter="filter">
  <div class="mb-2" *ngIf="getFormControl(filter+'Checkbox').value">
    <app-degree-unit-picker
      [unitFormGroup]="getFormGroup(filter)"
    ></app-degree-unit-picker>
  </div>
</ng-template>
