<app-filters-sidebar-nav></app-filters-sidebar-nav>

<div class="flex-1">
  <ng-container>
    <app-filters-sidebar-items></app-filters-sidebar-items>
  </ng-container>
</div>

<div
  class="text-sm my-2"
>
  Comprehensive guide to filters
  <a
    class="text-indigo-900"
    href="https://developer.mozilla.org/en-US/docs/Web/CSS/filter"
    target="_blank"
  >here.</a>
</div>
