@mixin customize {
  background-color: var(--background-color);
  border: var(--border);
  color: var(--color);
}

.any-link:any-link {
  @include customize;
}

.link:link {
  @include customize;
}

.visited:visited {
  @include customize;
}

@scope (.nasa-links) {
  .scope:scope a {
    @include customize;
  }
}
