<p>Interesting NASA articles:</p>
<div
    class="nasa-links flex flex-col gap-2 items-start"
    [ngClass]="{
        'scope': pseudoClass == 'scope',
    }"
>
    <a
        class="text-indigo-600 bg-white border-2 border-indigo-700 rounded p-2"
        [ngClass]="{
            'any-link': pseudoClass == 'any-link',
            'link': pseudoClass == 'link',
            'visited': pseudoClass == 'visited',
        }"
        href="https://science.nasa.gov/astrophysics/focus-areas/black-holes/"
        target="_blank"
    >
        Black Holes
    </a>
    <a
        class="text-indigo-600 bg-white border-2 border-indigo-700 rounded p-2"
        [ngClass]="{
            'any-link': pseudoClass == 'any-link',
            'link': pseudoClass == 'link',
            'visited': pseudoClass == 'visited',
        }"
        href="https://science.nasa.gov/mission/webb/"
        target="_blank"
    >
        James Webb Space Telescope
    </a>
    <a
        class="text-indigo-600 bg-white border-2 border-indigo-700 rounded p-2"
        [ngClass]="{
            'any-link': pseudoClass == 'any-link',
            'link': pseudoClass == 'link',
            'visited': pseudoClass == 'visited',
        }"
        href="https://science.nasa.gov/astrophysics/focus-areas/what-are-galaxies/"
        target="_blank"
    >
        Galaxies
    </a>
</div>
