<ng-container *ngIf="gridContainer">
    <form [formGroup]="gridPropertiesForm">
        <div class="flex flex-col gap-2 mb-4" formArrayName="gridTemplateColumns">
            <div class="flex justify-between items-center">
                <div class="lowercase text-base font-semibold block">
                    grid-template-columns
                </div>
                <button
                    (click)="addGridTemplateItem('gridTemplateColumns')"
                    class="rounded py-2 px-4 font-semibold bg-indigo-600 hover:bg-indigo-700 text-white
                        cursor-pointer text-center focus:outline-none focus:ring-4 focus:ring-offset-2
                        focus:ring-indigo-600 focus:ring-opacity-40"
                >
                    <fa-icon
                            class="text-gray-100 hover:text-gray-500"
                            [icon]="faPlus"
                    ></fa-icon>
                </button>
            </div>

            <div
                *ngFor="let column of gridTemplateColumns; let i = index;"
                [formGroupName]="i"
                class="flex items-center justify-between gap-2"
            >
                <app-unit-picker
                    [unitFormGroup]="gridTemplateColumns[i]"
                ></app-unit-picker>

                <button
                    (click)="onDeleteColumn(i)"
                    class="rounded py-2 px-4 font-semibold bg-indigo-600 hover:bg-indigo-700 text-white
                        cursor-pointer text-center focus:outline-none focus:ring-4 focus:ring-offset-2
                        focus:ring-indigo-600 focus:ring-opacity-40"
                >
                    <fa-icon
                            class="text-gray-100 hover:text-gray-500"
                            [icon]="faTrashCan"
                    ></fa-icon>
                </button>
            </div>
        </div>

        <div class="flex flex-col gap-2 mb-4" formArrayName="gridTemplateRows">

            <div class="flex justify-between items-center">
                    <div class="lowercase text-base font-semibold block">
                        grid-template-rows
                    </div>
                    <button
                        (click)="addGridTemplateItem('gridTemplateRows')"
                        class="rounded py-2 px-4 font-semibold bg-indigo-600 hover:bg-indigo-700 text-white
                            cursor-pointer text-center focus:outline-none focus:ring-4 focus:ring-offset-2
                            focus:ring-indigo-600 focus:ring-opacity-40"
                    >
                        <fa-icon
                                class="text-gray-100 hover:text-gray-500"
                                [icon]="faPlus"
                        ></fa-icon>
                    </button>
                </div>
            <div
                    *ngFor="let row of gridTemplateRows; let i = index;"
                    [formGroupName]="i"
                    class="flex items-center justify-between gap-2"
                >
                    <app-unit-picker
                            [unitFormGroup]="gridTemplateRows[i]"
                    ></app-unit-picker>

                    <button
                            (click)="onDeleteRow(i)"
                            class="rounded py-2 px-4 font-semibold bg-indigo-600 hover:bg-indigo-700 text-white
                            cursor-pointer text-center focus:outline-none focus:ring-4 focus:ring-offset-2
                            focus:ring-indigo-600 focus:ring-opacity-40"
                    >
                        <fa-icon
                                class="text-gray-100 hover:text-gray-500"
                                [icon]="faTrashCan"
                        ></fa-icon>
                    </button>
                </div>
        </div>

        <div class="mb-4">
            <app-unit-picker
                    [label]="'column-gap'"
                    [unitFormGroup]="getFormGroup('columnGap')"
            ></app-unit-picker>
            <app-unit-picker
                    [label]="'row-gap'"
                    [unitFormGroup]="getFormGroup('rowGap')"
            ></app-unit-picker>
        </div>

        <app-flexbox-sidebar-container-select
                *ngFor="let item of gridContainerSelects | keyvalue: originalOrder"
                [selectFormControl]="gridPropertiesForm.controls[item.key] | formControl"
                [label]="kebabize(item.key)"
                [value]="item.value"
                [options]="gridProperties[item.key]"
        ></app-flexbox-sidebar-container-select>

        <div class="flex flex-col gap-2 mb-4" formArrayName="gridAutoColumns">
            <div class="flex justify-between items-center">
                <div class="lowercase text-base font-semibold block">
                    grid-auto-columns
                </div>
                <button
                    (click)="addGridTemplateItem('gridAutoColumns')"
                    class="rounded py-2 px-4 font-semibold bg-indigo-600 hover:bg-indigo-700 text-white
                        cursor-pointer text-center focus:outline-none focus:ring-4 focus:ring-offset-2
                        focus:ring-indigo-600 focus:ring-opacity-40"
                >
                    <fa-icon
                            class="text-gray-100 hover:text-gray-500"
                            [icon]="faPlus"
                    ></fa-icon>
                </button>
            </div>

            <div
                *ngFor="let column of gridAutoColumns; let i = index;"
                [formGroupName]="i"
                class="flex items-center justify-between gap-2"
            >
                <app-unit-picker
                    [unitFormGroup]="gridAutoColumns[i]"
                ></app-unit-picker>

                <button
                    (click)="onDeleteAutoColumn(i)"
                    class="rounded py-2 px-4 font-semibold bg-indigo-600 hover:bg-indigo-700 text-white
                        cursor-pointer text-center focus:outline-none focus:ring-4 focus:ring-offset-2
                        focus:ring-indigo-600 focus:ring-opacity-40"
                >
                    <fa-icon
                        class="text-gray-100 hover:text-gray-500"
                        [icon]="faTrashCan"
                    ></fa-icon>
                </button>
            </div>
        </div>

        <div class="flex flex-col gap-2 mb-4" formArrayName="gridAutoRows">
            <div class="flex justify-between items-center">
                <div class="lowercase text-base font-semibold block">
                    grid-auto-rows
                </div>
                <button
                    (click)="addGridTemplateItem('gridAutoRows')"
                    class="rounded py-2 px-4 font-semibold bg-indigo-600 hover:bg-indigo-700 text-white
                        cursor-pointer text-center focus:outline-none focus:ring-4 focus:ring-offset-2
                        focus:ring-indigo-600 focus:ring-opacity-40"
                >
                    <fa-icon
                        class="text-gray-100 hover:text-gray-500"
                        [icon]="faPlus"
                    ></fa-icon>
                </button>
            </div>

            <div
                    *ngFor="let row of gridAutoRows; let i = index;"
                    [formGroupName]="i"
                    class="flex items-center justify-between gap-2"
            >
                <app-unit-picker
                        [unitFormGroup]="gridAutoRows[i]"
                ></app-unit-picker>

                <button
                    (click)="onDeleteAutoRow(i)"
                    class="rounded py-2 px-4 font-semibold bg-indigo-600 hover:bg-indigo-700 text-white
                        cursor-pointer text-center focus:outline-none focus:ring-4 focus:ring-offset-2
                        focus:ring-indigo-600 focus:ring-opacity-40"
                >
                    <fa-icon
                        class="text-gray-100 hover:text-gray-500"
                        [icon]="faTrashCan"
                    ></fa-icon>
                </button>
            </div>
        </div>

        <app-flexbox-sidebar-container-select
            [selectFormControl]="getFormControl('gridAutoFlow')"
            [label]="'grid-auto-flow'"
            [value]="getFormControl('gridAutoFlow').value"
            [options]="gridProperties['gridAutoFlow']"
        ></app-flexbox-sidebar-container-select>
    </form>
</ng-container>
