<app-positioning-sidebar-nav></app-positioning-sidebar-nav>

<div class="flex-1">
  <app-positioning-sidebar-items></app-positioning-sidebar-items>
</div>

<div
  class="text-sm my-2"
>
  Comprehensive guide to positioning
  <a
    class="text-indigo-900"
    href="https://developer.mozilla.org/en-US/docs/Web/CSS/position"
    target="_blank"
  >here</a>
  and
  <a
    class="text-indigo-900"
    href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Positioning"
    target="_blank"
  >here</a>
</div>
