<div class="bg-gray-100 min-h-screen py-12 sm:py-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-indigo-600">CSS Playroom</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Play around and visualize your CSS</p>
      <div class="mt-6 text-lg leading-8 text-gray-600">
        <p>The key to understanding anything is practicing and "playing" with it.</p>
        <p>Change different css properties and their values.</p>
        <p>Visualize the changes. Hit a button and get the code.</p>
      </div>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <div class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <app-home-section *ngFor="let page of pages" [page]="page"></app-home-section>
      </div>
    </div>
  </div>
</div>
