<div class="flex-1 flex flex-col min-h-0 bg-indigo-800">
  <div class="min-h-screen sticky top-0 flex flex-col pt-5 pb-4">
    <div class="flex items-center px-4">
      <a
        [routerLink]="['']"
        class="text-lg tracking-wider font-black text-white uppercase cursor-pointer"
      >
        CSS Playroom
      </a>
    </div>

    <nav class="mt-5 flex-1 px-2" aria-label="Sidebar">
      <div class="space-y-1">
        <div *ngFor="let page of pages">
          <app-menu-sidebar-item [page]="page"></app-menu-sidebar-item>
        </div>
      </div>

      <div class="mt-8 px-2">
        <div class="text-xs font-semibold leading-6 text-gray-400">Coming Soon...</div>
        <ul role="list" class="mt-2 space-y-1">
          <li *ngFor="let page of comingSoonPages">
            <a
              [routerLink]="page.path"
              class="text-gray-400 hover:text-white group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold cursor-pointer"
            >
            <span
              class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-700
              bg-gray-800 text-[0.625rem] font-medium text-gray-400 group-hover:text-white"
            >{{ page.name.charAt(0) }}</span>
              <span class="truncate">{{ page.name }}</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="flex justify-center gap-4 my-4">
      <a href="https://gitlab.com/owlhowl/css-playroom" target="_blank">
        <fa-icon [icon]="faGitlab" class="text-2xl text-orange-300 py-2 px-2.5 rounded-full bg-white"></fa-icon>
      </a>
      <a href="https://www.youtube.com/@WiseOllieOwl" target="_blank">
        <fa-icon [icon]="faYoutube" class="text-2xl text-red-500 p-2 rounded-full bg-white"></fa-icon>
      </a>
    </div>
  </div>
</div>
