<div class="mb-2 lowercase text-base font-semibold block">
  {{ label }}
</div>
<div
  [formGroup]="unitFormGroup"
  class="flex gap-2 items-center"
>
  <div class="basis-1/2">
    <input
      formControlName="value"
      type="number"
      class="w-full text-xs md:text-base focus:outline-none rounded border text-gray-700 border-gray-500 m-0 px-1 py-1 md:py-2"
      [name]="label+'value'"
    />
  </div>
  <div class="basis-1/2">
    <select
      formControlName="unit"
      class="w-full text-xs md:text-base m-0 px-1 py-1 md:py-2 leading-normal text-gray-700 bg-white border
        border-gray-500 rounded cursor-pointer focus:outline-none focus:border-transparent focus:ring-4
        focus:ring-offset-2 focus:border-blue-600 focus:ring-blue-600 focus:ring-opacity-40"
      [name]="label+'unit'"
    >
      <option *ngFor="let option of defaultUnits" [value]="option">{{option}}</option>
      <option *ngFor="let option of extraOptions" [value]="option">{{option}}</option>
    </select>
  </div>
</div>
