<ng-container *ngIf="selectedItem">
  <form [formGroup]="selectedItemForm">
    <div class="select relative inline-block w-full">
      <div class="mb-4">
        <div class="mb-2 lowercase text-base font-semibold block">
          position
        </div>
        <select
          formControlName="position"
          class="inline-block text-base w-full m-0 py-2 pl-4 pr-8 leading-normal text-gray-700 bg-white border
            border-gray-500 rounded cursor-pointer focus:outline-none focus:border-transparent focus:ring-4
            focus:ring-offset-2 focus:border-blue-600 focus:ring-blue-600 focus:ring-opacity-40"
        >
          <option
            class="bg-white text-gray-700"
            *ngFor="let option of positions"
            [ngValue]="option"
          >
            {{ option }}
          </option>
        </select>
      </div>
    </div>

    <div *ngIf="getFormGroup('top')" class="mb-2">
      <app-unit-picker
        [label]="'top'"
        [unitFormGroup]="getFormGroup('top')"
      ></app-unit-picker>
    </div>

    <div *ngIf="getFormGroup('right')" class="mb-2">
      <app-unit-picker
        [label]="'right'"
        [unitFormGroup]="getFormGroup('right')"
      ></app-unit-picker>
    </div>

    <div *ngIf="getFormGroup('bottom')" class="mb-2">
      <app-unit-picker
        [label]="'bottom'"
        [unitFormGroup]="getFormGroup('bottom')"
      ></app-unit-picker>
    </div>

    <div *ngIf="getFormGroup('left')" class="mb-2">
      <app-unit-picker
        [label]="'left'"
        [unitFormGroup]="getFormGroup('left')"
      ></app-unit-picker>
    </div>
  </form>
</ng-container>
