<ng-container
  *ngIf="{
    type: pseudoClassTypeState$ | async,
    class: pseudoClassState$ | async,
    classOptions: pseudoClassOptionsState$ | async,
    cssOptions: pseudoCssOptionsState$ | async
  } as pseudo">
  <ng-container *ngIf="pseudo.type && pseudo.class && pseudo.cssOptions && pseudo.classOptions">
    <app-pseudo-classes-item-form
      [pseudoClassTypeState]="pseudo.type"
      [pseudoClassState]="pseudo.class"
      [pseudoClassOptionsState]="pseudo.classOptions"
      [pseudoCssOptionsState]="pseudo.cssOptions"
    ></app-pseudo-classes-item-form>
  </ng-container>
</ng-container>
