<button
  (click)="addKeyframe()"
    class="rounded mb-6 p-2 font-semibold bg-gray-600 hover:bg-indigo-700 text-white
        cursor-pointer w-full text-center focus:outline-none focus:ring-4 focus:ring-offset-2
        focus:ring-indigo-600 focus:ring-opacity-40"
  >
    Add Keyframe
</button>

<form [formGroup]="animationTypesForm">
  <div class="text-gray-900 font-bold">Animation visuals:</div>
  <div class="grid grid-cols-2">
    <div class="flex items-start" *ngFor="let animationType of allAnimationTypes">
      <div class="flex h-6 items-center">
        <input
          [formControlName]="animationType"
          [name]="animationType"
          type="checkbox"
          value="1"
          class="w-4 h-4 text-indigo-600 bg-gray-100 border-gray-300 rounded focus:ring-indigo-500 dark:focus:ring-indigo-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        >
      </div>
      <div class="ml-3 text-sm leading-6">
        <div class="font-semibold">
          {{ animationType }}
        </div>
      </div>
    </div>
  </div>
</form>

<form [formGroup]="keyframesForm" class="mt-4">
    <div formGroupName="keyframes">
      <ng-container *ngFor="let keyframe of keyframes; let i = index; trackBy: trackByFn">
        <div [formGroupName]="i" class="border-2 border-gray-300 rounded-md p-6 mb-2 bg-gray-100">
          <div class="text-base font-semibold block mb-2 lowercase">
            Keyframe
          </div>
          <div class="mb-4 flex flex-row flex-1 items-center gap-2">
            <input
              formControlName="frame"
              class="w-full flex-1 text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2
                disabled:bg-gray-300 disabled:cursor-not-allowed"
              type="number"
              min="0"
              [name]="'keyframe'+i+'frame'"
            />
            <button
              *ngIf="keyframe.frame != 0 && keyframe.frame!= 100"
              (click)="removeKeyframe(keyframe.id)"
              class="rounded py-2 px-4 font-semibold bg-indigo-600 hover:bg-indigo-700 text-white
                cursor-pointer text-center focus:outline-none focus:ring-4 focus:ring-offset-2
                focus:ring-indigo-600 focus:ring-opacity-40"
              >
              <fa-icon
                class="text-gray-100 hover:text-gray-500"
                [icon]="faTrashCan"
              ></fa-icon>
            </button>
          </div>

          <div formGroupName="value" class="">
            <div *ngIf="getFormGroup(i, 'translateX')" class="mb-2">
              <app-unit-picker
                [label]="'translate-x'"
                [unitFormGroup]="getFormGroup(i, 'translateX')"
              ></app-unit-picker>
            </div>

            <div *ngIf="getFormGroup(i, 'translateY')" class="mb-2">
              <app-unit-picker
                [label]="'translate-y'"
                [unitFormGroup]="getFormGroup(i, 'translateY')"
              ></app-unit-picker>
            </div>

            <div *ngIf="getFormGroup(i, 'opacity')" class="mb-2">
                <div class="mb-2 lowercase text-base font-semibold block">
                  opacity
                </div>
                <input
                  formControlName="opacity"
                  class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                  type="number"
                  [name]="'keyframe'+i+'opacity'"
                />
            </div>

            <div *ngIf="getFormGroup(i, 'background')">
              <div class="mb-2">
                <div class="mb-2 lowercase text-base font-semibold block">
                  background
                </div>
                <input
                  formControlName="background"
                  class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                  type="text"
                  [name]="'keyframe'+i+'background'"
                />
              </div>
            </div>

            <div *ngIf="getFormGroup(i, 'scale')">
              <div class="mb-2">
                <div class="mb-2 lowercase text-base font-semibold block">
                  scale
                </div>
                <input
                  formControlName="scale"
                  class="w-full text-base focus:outline-none rounded border text-gray-700 border-gray-500 p-2"
                  type="text"
                  [name]="'keyframe'+i+'scale'"
                />
              </div>
            </div>

            <div *ngIf="getFormGroup(i,'resize')">
              <ng-container formGroupName="resize">
                <div *ngIf="getFormGroup(i, 'resize.width')" class="mb-2">
                  <app-unit-picker
                    [label]="'resize-width'"
                    [unitFormGroup]="getFormGroup(i, 'resize.width')"
                  ></app-unit-picker>
                </div>
                <div *ngIf="getFormGroup(i, 'resize.height')" class="mb-2">
                  <app-unit-picker
                    [label]="'resize-height'"
                    [unitFormGroup]="getFormGroup(i, 'resize.height')"
                  ></app-unit-picker>
                </div>
              </ng-container>
            </div>

            <div *ngIf="getFormGroup(i, 'rotate')">
              <app-degree-unit-picker
                [label]="'rotate'"
                [unitFormGroup]="getFormGroup(i, 'rotate')"
              ></app-degree-unit-picker>
            </div>

          </div>
        </div>
      </ng-container>
    </div>
</form>
