<ng-container
  *ngIf="filtersState$ | async as filtersState">
  <ng-container *ngIf="filtersState">
    <app-filters-sidebar-items-form
      [filtersState]="filtersState"
    ></app-filters-sidebar-items-form>
  </ng-container>
</ng-container>
